{
  "swagger": "2.0",
  "info": {
    "version": "External",
    "title": "OneInc.PortalOne.ClaimsPay"
  },
  "host": "testportalone.processonepayments.com",
  "basePath": "/ClaimsPay",
  "schemes": [
    "https"
  ],
  "paths": {
    "/Account/Create": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "This method is used to create a ClaimsPay account and associated claims records, company/contact records and individual records.",
        "operationId": "Account_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Create ClaimsPay account request {OneInc.PortalOne.ClaimsPay.RestApi.Contracts.DataContracts.Account.CreateAccountRequest}",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAccountRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateAccountResponse"
            }
          }
        },
        "x-operation-name": "Create",
        "x-operation-name-lower": "create"
      }
    },
    "/Account/CreateContact": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "This method is used to create a ClaimsPay contact associated with ClaimsPay account.",
        "operationId": "Account_CreateContact",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Create contact request {OneInc.PortalOne.ClaimsPay.RestApi.Contracts.DataContracts.Account.CreateContactRequest}",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateContactRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateContactResponse"
            }
          }
        },
        "x-operation-name": "CreateContact",
        "x-operation-name-lower": "createcontact"
      }
    },
    "/Account/Update": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "This method is used to update a ClaimsPay account profile and Prepaid Account vendor profile.",
        "operationId": "Account_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Update ClaimsPay account request {OneInc.PortalOne.ClaimsPay.RestApi.Contracts.DataContracts.Account.UpdateAccountRequest}",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAccountRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateAccountResponse"
            }
          }
        },
        "x-operation-name": "Update",
        "x-operation-name-lower": "update"
      }
    },
    "/Account/GetInfo": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "This method is used to get a ClaimsPay account information.",
        "operationId": "Account_GetInfo",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Get ClaimsPay account information request {OneInc.PortalOne.ClaimsPay.RestApi.Contracts.DataContracts.Account.GetAccountInfoRequest}",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAccountInfoRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetAccountInfoResponse"
            }
          }
        },
        "x-operation-name": "GetInfo",
        "x-operation-name-lower": "getinfo"
      }
    },
    "/ApprovalRequest/Create": {
      "post": {
        "tags": [
          "ApprovalRequest"
        ],
        "summary": "This method is used to create new approval request. The approval request will send a communication to each of the approval request parties and direct them to a portal where they will complete their approval request actions per their role.",
        "operationId": "ApprovalRequest_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Create approval request model{OneInc.PortalOne.ClaimsPay.RestApi.Contracts.DataContracts.ApprovalRequest.CreateApprovalRequestRequest}",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateApprovalRequestRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateApprovalRequestResponse"
            }
          }
        },
        "x-operation-name": "Create",
        "x-operation-name-lower": "create"
      }
    },
    "/ApprovalRequest/GetById": {
      "post": {
        "tags": [
          "ApprovalRequest"
        ],
        "summary": "This method is used to get approval request by id.",
        "operationId": "ApprovalRequest_GetById",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Get ApprovalRequest by id model{OneInc.PortalOne.ClaimsPay.RestApi.Contracts.DataContracts.ApprovalRequest.GetApprovalRequestByIdRequest}",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetApprovalRequestByIdRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetApprovalRequestByIdResponse"
            }
          }
        },
        "x-operation-name": "GetById",
        "x-operation-name-lower": "getbyid"
      }
    },
    "/ApprovalRequest/GetByStatus": {
      "post": {
        "tags": [
          "ApprovalRequest"
        ],
        "summary": "This method is used to get approval requests by status.",
        "operationId": "ApprovalRequest_GetByStatus",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "requestsByStatusRequest",
            "in": "body",
            "description": "Get approval requests by status {OneInc.PortalOne.ClaimsPay.RestApi.Contracts.DataContracts.ApprovalRequest.GetApprovalRequestsByStatusRequest}",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetApprovalRequestsByStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetApprovalRequestsByStatusResponse"
            }
          }
        },
        "x-operation-name": "GetByStatus",
        "x-operation-name-lower": "getbystatus"
      }
    },
    "/ApprovalRequest/Cancel": {
      "post": {
        "tags": [
          "ApprovalRequest"
        ],
        "summary": "This method is used to cancel approval request.",
        "operationId": "ApprovalRequest_Cancel",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Cancel ApprovalRequests by id model{OneInc.PortalOne.ClaimsPay.RestApi.Contracts.DataContracts.ApprovalRequest.CancelApprovalRequestRequest}",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelApprovalRequestRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CancelApprovalRequestResponse"
            }
          }
        },
        "x-operation-name": "Cancel",
        "x-operation-name-lower": "cancel"
      }
    },
    "/ApprovalRequest/Resend": {
      "post": {
        "tags": [
          "ApprovalRequest"
        ],
        "summary": "This method is used to resend invitation message to one or more approval request parties.",
        "operationId": "ApprovalRequest_Resend",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Resend invitation message to approval request party model{OneInc.PortalOne.ClaimsPay.RestApi.Contracts.DataContracts.ApprovalRequest.ResendApprovalRequestRequest}",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResendApprovalRequestRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResendApprovalRequestResponse"
            }
          }
        },
        "x-operation-name": "Resend",
        "x-operation-name-lower": "resend"
      }
    },
    "/ApprovalRequest/Release": {
      "post": {
        "tags": [
          "ApprovalRequest"
        ],
        "summary": "This method is used to resend invitation message to one or more approval request parties.",
        "operationId": "ApprovalRequest_Release",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Resend invitation message to approval request party model{OneInc.PortalOne.ClaimsPay.RestApi.Contracts.DataContracts.ApprovalRequest.ResendApprovalRequestRequest}",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReleaseApprovalRequestRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReleaseApprovalRequestResponse"
            }
          }
        },
        "x-operation-name": "Release",
        "x-operation-name-lower": "release"
      }
    },
    "/BankAccount/Credit": {
      "post": {
        "tags": [
          "BankAccount"
        ],
        "summary": "This method is used to submit BankAccount payment.",
        "operationId": "BankAccount_Credit",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Credit bank account request {OneInc.PortalOne.ClaimsPay.RestApi.Contracts.DataContracts.BankAccount.CreditBankAccountRequest}",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreditBankAccountRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreditBankAccountResponse"
            }
          }
        },
        "x-operation-name": "Credit",
        "x-operation-name-lower": "credit"
      }
    },
    "/BankAccount/VoidCredit": {
      "post": {
        "tags": [
          "BankAccount"
        ],
        "summary": "This method is used to void EFT payment.",
        "operationId": "BankAccount_VoidCredit",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Void credit bank account request {OneInc.PortalOne.ClaimsPay.RestApi.Contracts.DataContracts.BankAccount.VoidCreditRequest}",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VoidCreditRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VoidCreditResponse"
            }
          }
        },
        "x-operation-name": "VoidCredit",
        "x-operation-name-lower": "voidcredit"
      }
    },
    "/BankAccount/Verify": {
      "post": {
        "tags": [
          "BankAccount"
        ],
        "summary": "This method is used to verify BankAccount.",
        "operationId": "BankAccount_Verify",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Credit bank account request {OneInc.PortalOne.ClaimsPay.RestApi.Contracts.DataContracts.BankAccount.CreditBankAccountRequest}",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerifyBankAccountRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VerifyBankAccountResponse"
            }
          }
        },
        "x-operation-name": "Verify",
        "x-operation-name-lower": "verify"
      }
    },
    "/Card/PushFunds": {
      "post": {
        "tags": [
          "Card"
        ],
        "operationId": "Card_PushFunds",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PushFundsToCardRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PushFundsToCardResponse"
            }
          }
        },
        "x-operation-name": "PushFunds",
        "x-operation-name-lower": "pushfunds"
      }
    },
    "/Check/Issue": {
      "post": {
        "tags": [
          "Check"
        ],
        "summary": "This method is used to issue a check associated to a ClaimsPay AccountID.",
        "operationId": "Check_Issue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Issue check request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IssueCheckRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IssueCheckResponse"
            }
          }
        },
        "x-operation-name": "Issue",
        "x-operation-name-lower": "issue"
      }
    },
    "/Check/Cancel": {
      "post": {
        "tags": [
          "Check"
        ],
        "summary": "This method is used to cancel a check.",
        "operationId": "Check_Cancel",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Cancel check request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelCheckRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CancelCheckResponse"
            }
          }
        },
        "x-operation-name": "Cancel",
        "x-operation-name-lower": "cancel"
      }
    },
    "/PaymentMethod/Remove": {
      "post": {
        "tags": [
          "PaymentMethod"
        ],
        "summary": "This method is used to remove a saved payment method that is associated to a ClaimsPay AccountID.",
        "operationId": "PaymentMethod_Remove",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Remove payment method request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemovePaymentMethodRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RemovePaymentMethodResponse"
            }
          }
        },
        "x-operation-name": "Remove",
        "x-operation-name-lower": "remove"
      }
    },
    "/PaymentMethod/Save": {
      "post": {
        "tags": [
          "PaymentMethod"
        ],
        "summary": "This method is used to save a payment method under an associated ClaimsPay AccountID.",
        "operationId": "PaymentMethod_Save",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Save payment method request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SavePaymentMethodRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SavePaymentMethodResponse"
            }
          }
        },
        "x-operation-name": "Save",
        "x-operation-name-lower": "save"
      }
    },
    "/PaymentMethod/GetInfo": {
      "post": {
        "tags": [
          "PaymentMethod"
        ],
        "summary": "This method is used to get information on the payment methods that are associated to a ClaimsPay AccountID.",
        "operationId": "PaymentMethod_GetInfo",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "GetPaymentMethodInfo Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPaymentMethodInfoRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetPaymentMethodInfoResponse"
            }
          }
        },
        "x-operation-name": "GetInfo",
        "x-operation-name-lower": "getinfo"
      }
    },
    "/PaymentMethod/UpdateCard": {
      "post": {
        "tags": [
          "PaymentMethod"
        ],
        "summary": "This method is intended to update the stored card information with a new information.",
        "operationId": "PaymentMethod_UpdateCard",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "GetPaymentMethodInfo Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCardRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateCardResponse"
            }
          }
        },
        "x-operation-name": "UpdateCard",
        "x-operation-name-lower": "updatecard"
      }
    }
  },
  "definitions": {
    "CreateAccountRequest": {
      "description": "CreateAccount Request",
      "required": [
        "ClaimsPayAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayRequestBase"
        },
        {
          "required": [
            "ClaimsPayAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "CompanyDetails": {
              "$ref": "#/definitions/CompanyDetails",
              "description": "Details on the company and contact for which the ClaimsPay Account will be created."
            },
            "IndividualDetails": {
              "$ref": "#/definitions/IndividualDetails",
              "description": "Details on the individual for which the ClaimsPay Account will be created."
            },
            "ClaimNumber": {
              "description": "Optional field for a claim number that will be associated to the operation.",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "CompanyType": {
      "description": "Type of company: business or vendor.",
      "enum": [
        "Undefined",
        "Business",
        "Vendor"
      ],
      "type": "string",
      "x-nullable": true,
      "x-ms-enum": {
        "name": "CompanyType",
        "values": [
          {
            "name": "Undefined",
            "value": 0
          },
          {
            "name": "Business",
            "value": 1
          },
          {
            "name": "Vendor",
            "value": 2
          }
        ]
      }
    },
    "CompanyDetails": {
      "description": "Company Information",
      "required": [
        "CompanyName",
        "Address",
        "City",
        "State",
        "Zip",
        "ContactDetails"
      ],
      "type": "object",
      "properties": {
        "CompanyName": {
          "description": "The name of the company entity.",
          "maxLength": 60,
          "minLength": 0,
          "type": "string"
        },
        "TaxId": {
          "description": "The tax ID for the company entity. As unique identifier can be used to present saved payment methods for company entity on the epay webpage.",
          "type": "string"
        },
        "Address": {
          "description": "The physical street address for the company.",
          "maxLength": 60,
          "minLength": 0,
          "type": "string"
        },
        "Address2": {
          "description": "Secondary Address information.",
          "maxLength": 60,
          "minLength": 0,
          "type": "string"
        },
        "City": {
          "description": "The city for the company.",
          "maxLength": 30,
          "minLength": 0,
          "type": "string"
        },
        "State": {
          "description": "The state for the company.",
          "type": "string"
        },
        "Zip": {
          "description": "The zip code for the company.",
          "type": "string"
        },
        "ContactDetails": {
          "$ref": "#/definitions/ContactDetails",
          "description": "Details on the company contact person to whom the payment method will be associated."
        },
        "CompanyType": {
          "$ref": "#/definitions/CompanyType"
        }
      }
    },
    "IndividualDetails": {
      "description": "Individual Information",
      "required": [
        "FirstName",
        "LastName",
        "Address",
        "City",
        "State",
        "Zip",
        "PhoneNumber"
      ],
      "type": "object",
      "properties": {
        "FirstName": {
          "description": "The first name of the Payee to whom the payment method will be associated.",
          "maxLength": 50,
          "minLength": 2,
          "type": "string"
        },
        "LastName": {
          "description": "The last name of the Payee to whom the payment method will be associated.",
          "maxLength": 50,
          "minLength": 2,
          "type": "string"
        },
        "Email": {
          "description": "The Payee’s email address; will pre-populate ePay email Address if available.",
          "maxLength": 256,
          "minLength": 0,
          "type": "string"
        },
        "Address": {
          "description": "The street address for the individual payee.",
          "maxLength": 60,
          "minLength": 0,
          "type": "string"
        },
        "Address2": {
          "description": "Secondary Address information.",
          "maxLength": 60,
          "minLength": 0,
          "type": "string"
        },
        "City": {
          "description": "The city for the individual payee.",
          "maxLength": 30,
          "minLength": 0,
          "type": "string"
        },
        "State": {
          "description": "The state for the individual payee.",
          "type": "string"
        },
        "Zip": {
          "description": "The zip code for the individual payee.",
          "type": "string"
        },
        "PhoneNumber": {
          "description": "The Payee's phone number.",
          "type": "string"
        },
        "ExternalIndividualId": {
          "description": "A unique external identifier for individual contact.",
          "maxLength": 250,
          "minLength": 0,
          "type": "string"
        }
      }
    },
    "WebAccessType": {
      "description": "Value that will indicate if the contact will have access to the company website.\r\nIf property is not provided, default value is enable.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "WebAccessType",
        "values": [
          {
            "name": "Enabled",
            "value": 0
          },
          {
            "name": "Disabled",
            "value": 1
          }
        ]
      }
    },
    "ContactDetails": {
      "description": "Contact Information",
      "required": [
        "PhoneNumber",
        "WebAccess"
      ],
      "type": "object",
      "properties": {
        "ContactId": {
          "format": "int32",
          "description": "The contactId that is stored in the ClaimsPay system for the company contact.\r\n If this value is provided, the system will update the stored information.\r\n If the value is not provided the system will create a new account.",
          "type": "integer",
          "x-nullable": true
        },
        "FirstName": {
          "description": "The first name of the company contact to whom the payment method will be associated.",
          "maxLength": 50,
          "minLength": 2,
          "type": "string"
        },
        "LastName": {
          "description": "The last name of the company contact to whom the payment method will be associated.",
          "maxLength": 50,
          "minLength": 2,
          "type": "string"
        },
        "Email": {
          "description": "The email address for the company contact; will pre-populate ePay email Address if available.",
          "maxLength": 256,
          "minLength": 0,
          "type": "string"
        },
        "PhoneNumber": {
          "description": "The phone number for the company contact.",
          "type": "string"
        },
        "WebAccess": {
          "$ref": "#/definitions/WebAccessType"
        },
        "CompanyContactInformation": {
          "description": "Additional company or contact information which if present will be used for mailing address.",
          "maxLength": 60,
          "minLength": 0,
          "type": "string"
        },
        "ExternalCompanyContactId": {
          "description": "A unique external identifier for company contact.",
          "maxLength": 250,
          "minLength": 0,
          "type": "string"
        }
      }
    },
    "CreateAccountResponse": {
      "description": "CreateAccount Response",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "AccountId": {
              "format": "int32",
              "description": "ClaimsPay Account Identifier.",
              "type": "integer",
              "x-emitDefaultValue": true
            },
            "ContactId": {
              "format": "int32",
              "description": "Company Contact identifier. Only applicable to company accounts.",
              "type": "integer",
              "x-emitDefaultValue": true
            }
          }
        }
      ],
      "properties": {}
    },
    "CreateContactRequest": {
      "description": "CreateContact Request",
      "required": [
        "AccountId",
        "Phone",
        "ClaimsPayAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayRequestBase"
        },
        {
          "required": [
            "AccountId",
            "Phone",
            "ClaimsPayAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "AccountId": {
              "format": "int32",
              "description": "ClaimsPay Account Identifier.",
              "type": "integer",
              "x-emitDefaultValue": true
            },
            "FirstName": {
              "description": "The first name of the company contact.",
              "maxLength": 50,
              "minLength": 2,
              "type": "string"
            },
            "LastName": {
              "description": "The last name of the company contact.",
              "maxLength": 50,
              "minLength": 2,
              "type": "string"
            },
            "Email": {
              "description": "The email address for the company contact.",
              "maxLength": 256,
              "minLength": 0,
              "type": "string"
            },
            "Phone": {
              "description": "The phone number for the company contact.",
              "type": "string"
            },
            "CompanyContactInformation": {
              "description": "Additional company or contact information which if present will be used for mailing address.",
              "maxLength": 60,
              "minLength": 0,
              "type": "string"
            },
            "ExternalCompanyContactId": {
              "description": "The unique identifier for company contact. Use this field as ExternalCustomerId for creating customer account in PortalOne API",
              "maxLength": 250,
              "minLength": 0,
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "CreateContactResponse": {
      "description": "CreateContact Response",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "AccountId": {
              "format": "int32",
              "description": "ClaimsPay Account Identifier.",
              "type": "integer",
              "x-emitDefaultValue": true
            },
            "ContactId": {
              "format": "int32",
              "description": "Company Contact identifier. Only applicable to company accounts.",
              "type": "integer",
              "x-emitDefaultValue": true
            }
          }
        }
      ],
      "properties": {}
    },
    "UpdateAccountRequest": {
      "description": "UpdateAccount Request",
      "required": [
        "ClaimsPayAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayRequestBase"
        },
        {
          "required": [
            "ClaimsPayAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "AccountId": {
              "format": "int32",
              "description": "ClaimsPay Account Identifier.",
              "type": "integer",
              "x-emitDefaultValue": true
            },
            "IndividualProfileDetails": {
              "$ref": "#/definitions/IndividualProfileDetails",
              "description": "Individual profile information."
            },
            "CompanyProfileDetails": {
              "$ref": "#/definitions/CompanyProfileDetails",
              "description": "Company and contact profile information."
            }
          }
        }
      ],
      "properties": {}
    },
    "IndividualProfileDetails": {
      "description": "Individual Profile Information",
      "type": "object",
      "properties": {
        "FirstName": {
          "description": "The first name of the Payee to whom the payment method will be associated.",
          "maxLength": 50,
          "minLength": 2,
          "type": "string"
        },
        "LastName": {
          "description": "The last name of the Payee to whom the payment method will be associated.",
          "maxLength": 50,
          "minLength": 2,
          "type": "string"
        },
        "Phone": {
          "description": "The Payee's phone number.",
          "type": "string"
        },
        "Address": {
          "description": "The street address for the individual payee.",
          "maxLength": 60,
          "minLength": 0,
          "type": "string"
        },
        "Address2": {
          "description": "Secondary Address information.",
          "maxLength": 60,
          "minLength": 0,
          "type": "string"
        },
        "City": {
          "description": "The city for the individual payee.",
          "maxLength": 30,
          "minLength": 0,
          "type": "string"
        },
        "State": {
          "description": "The state for the individual payee.",
          "type": "string"
        },
        "Zip": {
          "description": "The zip code for the individual payee.",
          "type": "string"
        },
        "ExternalIndividualId": {
          "description": "The unique identifier for individual contact. Use this field as ExternalCustomerId for creating customer account in PortalOne API",
          "maxLength": 250,
          "minLength": 0,
          "type": "string"
        }
      }
    },
    "CompanyProfileDetails": {
      "description": "Company Profile Information",
      "type": "object",
      "properties": {
        "CompanyName": {
          "description": "The name of the company entity.",
          "maxLength": 60,
          "minLength": 0,
          "type": "string"
        },
        "Address": {
          "description": "The physical street address for the company.",
          "maxLength": 60,
          "minLength": 0,
          "type": "string"
        },
        "Address2": {
          "description": "Secondary Address information.",
          "maxLength": 60,
          "minLength": 0,
          "type": "string"
        },
        "City": {
          "description": "The city for the company.",
          "maxLength": 30,
          "minLength": 0,
          "type": "string"
        },
        "State": {
          "description": "The state for the company.",
          "type": "string"
        },
        "Zip": {
          "description": "The zip code for the company.",
          "type": "string"
        },
        "ContactDetails": {
          "$ref": "#/definitions/ContactProfileDetails",
          "description": "Details on the company contact person profile."
        }
      }
    },
    "ContactProfileDetails": {
      "description": "Contact Profile Information",
      "required": [
        "WebAccessType"
      ],
      "type": "object",
      "properties": {
        "ContactId": {
          "format": "int32",
          "description": "The ContactId that is stored in the ClaimsPay system for the company contact.",
          "type": "integer",
          "x-nullable": true
        },
        "FirstName": {
          "description": "The first name of the company contact to whom the payment method will be associated.",
          "maxLength": 50,
          "minLength": 2,
          "type": "string"
        },
        "LastName": {
          "description": "The last name of the company contact to whom the payment method will be associated.",
          "maxLength": 50,
          "minLength": 2,
          "type": "string"
        },
        "Phone": {
          "description": "The phone number for the company contact.",
          "type": "string"
        },
        "Email": {
          "description": "The email address for the company contact.",
          "maxLength": 256,
          "minLength": 0,
          "type": "string"
        },
        "WebAccessType": {
          "$ref": "#/definitions/WebAccessType"
        },
        "CompanyContactInformation": {
          "description": "Additional company or contact information which if present will be used for mailing address.",
          "maxLength": 60,
          "minLength": 0,
          "type": "string"
        },
        "ExternalCompanyContactId": {
          "description": "The unique identifier for company contact. Use this field as ExternalCustomerId for creating customer account in PortalOne API",
          "maxLength": 250,
          "minLength": 0,
          "type": "string"
        }
      }
    },
    "UpdateAccountResponse": {
      "description": "UpdateAccount Response",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "TransactionId": {
              "format": "int32",
              "description": "Transaction identifier.",
              "type": "integer",
              "x-emitDefaultValue": true
            },
            "IndividualProfileDetails": {
              "$ref": "#/definitions/IndividualProfileDetails",
              "description": "Individual profile information."
            },
            "CompanyProfileDetails": {
              "$ref": "#/definitions/CompanyProfileDetails",
              "description": "Company and contact profile information."
            }
          }
        }
      ],
      "properties": {}
    },
    "GetAccountInfoRequest": {
      "description": "GetAccountInfo Request",
      "required": [
        "AccountId",
        "ClaimsPayAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayRequestBase"
        },
        {
          "required": [
            "AccountId",
            "ClaimsPayAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "AccountId": {
              "format": "int32",
              "description": "ClaimsPay Account Identifier.",
              "type": "integer",
              "x-emitDefaultValue": true
            }
          }
        }
      ],
      "properties": {}
    },
    "GetAccountInfoResponse": {
      "description": "GetAccountInfo Response",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "IndividualDetails": {
              "$ref": "#/definitions/IndividualDetails",
              "description": "Stored information for the Individual ClaimsPay AccountID."
            },
            "CompanyInformation": {
              "$ref": "#/definitions/CompanyInformation",
              "description": "Stored information for the Company ClaimsPay AccountID. The object will return an array of contactId's for the company."
            },
            "BankAccounts": {
              "description": "Array of bank accounts that are associated to the AccountId. The array will return a BankAccountSummary object (token and supporting information that can be used to process an EFT Credit payments.) for each bank account: See BankAccountSummary object.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/BankAccountSummary"
              }
            },
            "Cards": {
              "description": "Array of cards that are associated to the AccountId. The array will return an object (token and supporting information that can be used to process a Push to Card payment) for each card.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/CardSummary"
              }
            },
            "HasPrepaidCardAccount": {
              "description": "Bool which will indicate if a prepaid card account exists for the AccountId.",
              "type": "boolean",
              "x-emitDefaultValue": true
            }
          }
        }
      ],
      "properties": {}
    },
    "CompanyInformation": {
      "description": "Company Information",
      "required": [
        "CompanyType"
      ],
      "type": "object",
      "properties": {
        "CompanyName": {
          "description": "The name of the company entity.",
          "type": "string"
        },
        "TaxId": {
          "description": "The tax ID for the company entity. As unique identifier can be used to present saved payment methods for company entity on the epay webpage.",
          "type": "string"
        },
        "Address": {
          "description": "The physical street address for the company.",
          "type": "string"
        },
        "Address2": {
          "description": "Secondary Address information.",
          "type": "string"
        },
        "City": {
          "description": "The city for the company.",
          "type": "string"
        },
        "State": {
          "description": "The state for the company.",
          "type": "string"
        },
        "Zip": {
          "description": "The zip code for the company.",
          "type": "string"
        },
        "CompanyType": {
          "$ref": "#/definitions/CompanyType"
        },
        "ContactsDetails": {
          "description": "Array of ContactDetails associated to the company.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContactDetails"
          }
        }
      }
    },
    "BankAccountType": {
      "description": "Checking / Savings.",
      "enum": [
        "Checking",
        "Savings"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "BankAccountType",
        "values": [
          {
            "name": "Checking",
            "value": 0
          },
          {
            "name": "Savings",
            "value": 1
          }
        ]
      }
    },
    "BankAccountSummary": {
      "description": "Bank Account Summary",
      "required": [
        "AccountType"
      ],
      "type": "object",
      "properties": {
        "Token": {
          "description": "Bank Account payment token.",
          "type": "string"
        },
        "AccountType": {
          "$ref": "#/definitions/BankAccountType"
        },
        "LastFourDigits": {
          "description": "Last four digits of the bank account number.",
          "type": "string"
        },
        "BankName": {
          "description": "Name of Bank based on Routing Number.",
          "type": "string"
        },
        "NameOnAccount": {
          "description": "Name on Bank Account. For Individual it will be PayeeName, for Company will be Company Name.",
          "type": "string"
        }
      }
    },
    "CardType": {
      "description": "Card type.",
      "enum": [
        "Undefined",
        "Visa",
        "MasterCard",
        "AmericanExpress",
        "Discover",
        "PinlessDebitGeneric",
        "Star",
        "Nyce",
        "Pulse",
        "Other"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "CardType",
        "values": [
          {
            "name": "Undefined",
            "value": 0
          },
          {
            "name": "Visa",
            "value": 1
          },
          {
            "name": "MasterCard",
            "value": 2
          },
          {
            "name": "AmericanExpress",
            "value": 3
          },
          {
            "name": "Discover",
            "value": 4
          },
          {
            "name": "PinlessDebitGeneric",
            "value": 5
          },
          {
            "name": "Star",
            "value": 6
          },
          {
            "name": "Nyce",
            "value": 7
          },
          {
            "name": "Pulse",
            "value": 8
          },
          {
            "name": "Other",
            "value": 99
          }
        ]
      }
    },
    "CardSummary": {
      "description": "Card Summary",
      "required": [
        "CardType"
      ],
      "type": "object",
      "properties": {
        "Token": {
          "description": "Card payment token.",
          "type": "string"
        },
        "LastFourDigits": {
          "description": "Last four digits of the card number.",
          "type": "string"
        },
        "CardType": {
          "$ref": "#/definitions/CardType"
        },
        "ExpirationYear": {
          "description": "Year of the expiration of the card.",
          "type": "string"
        },
        "ExpirationMonth": {
          "description": "Month of the expiration of the card.",
          "type": "string"
        },
        "Holder": {
          "$ref": "#/definitions/Customer",
          "description": "Card holder."
        }
      }
    },
    "Customer": {
      "description": "Customer",
      "required": [
        "Name"
      ],
      "type": "object",
      "properties": {
        "Name": {
          "description": "Customer name.",
          "type": "string"
        },
        "Zip": {
          "description": "Customer zip code.",
          "type": "string"
        },
        "Address": {
          "description": "Customer address.",
          "type": "string"
        },
        "City": {
          "description": "Customer city.",
          "type": "string"
        },
        "State": {
          "description": "Customer state.",
          "type": "string"
        },
        "Phone": {
          "description": "Customer phone.",
          "type": "string"
        }
      }
    },
    "CreateApprovalRequestRequest": {
      "description": "Create ApprovalRequest request",
      "required": [
        "ProcessType",
        "ApprovalRequestParties",
        "ClaimsPayAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayRequestBase"
        },
        {
          "required": [
            "ProcessType",
            "ApprovalRequestParties",
            "ClaimsPayAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "ClaimNumber": {
              "description": "Claim number for which the approval process will be completed.",
              "type": "string"
            },
            "TotalAmount": {
              "format": "decimal",
              "description": "The total payment amount that will be paid out as part of the current approval request.",
              "type": "number",
              "x-emitDefaultValue": true
            },
            "ProcessType": {
              "description": "Specifies the process that the system will follow for the approval request. Allowable values:\r\n1. MultiPartyPayment. System will create an approval request involving multiple parties. Once all claim parties have completed the required actions based upon the role, a payment will be processed.\r\n2. SinglePartyPayment. System will create an approval request for a single party. Once the party completes the required action, the system will process a payment.\r\n3. SinglePartySave. System will create an approval request for a single party to capture a payment method option.\r\n4. IssueCheckPayment. System will create an approval request to issue a check made out to one to four parties. Parties will not be required to complete any action.",
              "type": "string"
            },
            "IsAuthorityHold": {
              "description": "Indicates if the approval request was created with an Authority Hold which requires the approval request to be released prior to initiating the payment process to the approval request parties.",
              "type": "boolean",
              "x-emitDefaultValue": true
            },
            "ClaimDetails": {
              "description": "Claim detail information that will be displayed to the claim party in the website and emails or that will be printed on the check Stub for checks fulfilled by One Inc.\r\nPrinted information will be limited to 19 lines with up to 111 characters each line. If a string is sent that is greater than 111 characters, the values will be parsed into multiple lines by splitting the lines at spaces. If the data sent results in over 19 rows after parsing, the system will only print the first 19 rows.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "AccountGroupCode": {
              "description": "This field is used to route money from different accounts based on a predefined groups. If payments are processed with the approval request, the system will use the provided AccountGroupCode.\r\nFor payments made via check, the AccountGroupCode will indicate to the system which bank account and routing number should be used to issue the check.",
              "type": "string"
            },
            "ApprovalRequestParties": {
              "description": "Array of ApprovalRequestParty objects for each of the parties that have an interest in the claim. The number of parties allowable are based upon the ProcessType:\r\nSinglePartyPayment and SinglePartySave, can have 1 party.\r\nMultiPartyPayment can have 2-10 parties.\r\nIssueCheckPayment can have 1-4 parties.\r\nAt least one party must be a payment recipient. Each party must have a unique AccountId.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApprovalRequestParty"
              }
            },
            "ComposeCheckProperties": {
              "$ref": "#/definitions/ComposeCheckProperties",
              "description": "Information that will be used to define how the check will be made when the approval request results in a check payment."
            },
            "ExtendedParameters": {
              "description": "The collection of key value pairs for optional parameters.",
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "ApprovalRequestPartyRole": {
      "description": "The role that defines the actions the claim party will complete as part of the approval request.",
      "enum": [
        "Undefined",
        "ApprovalOnly",
        "PaymentOnly",
        "ApprovalAndPayment",
        "PaymentOnlyActionBypass",
        "MailToCheckParty",
        "NamedCheckParty"
      ],
      "type": "string",
      "x-nullable": true,
      "x-ms-enum": {
        "name": "ApprovalRequestPartyRole",
        "values": [
          {
            "name": "Undefined",
            "value": 0
          },
          {
            "name": "ApprovalOnly",
            "value": 1
          },
          {
            "name": "PaymentOnly",
            "value": 2
          },
          {
            "name": "ApprovalAndPayment",
            "value": 3
          },
          {
            "name": "PaymentOnlyActionBypass",
            "value": 4
          },
          {
            "name": "MailToCheckParty",
            "value": 5
          },
          {
            "name": "NamedCheckParty",
            "value": 6
          }
        ]
      }
    },
    "MessageDeliveryType": {
      "description": "The delivery method to receive the link to the ClaimsPay approval portal. This can be by email or text message.",
      "enum": [
        "Undefined",
        "Email",
        "Text"
      ],
      "type": "string",
      "x-nullable": true,
      "x-ms-enum": {
        "name": "MessageDeliveryType",
        "values": [
          {
            "name": "Undefined",
            "value": 0
          },
          {
            "name": "Email",
            "value": 1
          },
          {
            "name": "Text",
            "value": 2
          }
        ]
      }
    },
    "PaymentMethodType": {
      "description": "The type of payment method that will be used to process the payment for an approval party with the role of PaymentOnlyActionBypass.",
      "enum": [
        "Undefined",
        "BankAccount",
        "Check",
        "VirtualCard",
        "PushToCard"
      ],
      "type": "string",
      "x-nullable": true,
      "x-ms-enum": {
        "name": "PaymentMethodType",
        "values": [
          {
            "name": "Undefined",
            "value": 0
          },
          {
            "name": "BankAccount",
            "value": 1
          },
          {
            "name": "Check",
            "value": 2
          },
          {
            "name": "VirtualCard",
            "value": 3
          },
          {
            "name": "PushToCard",
            "value": 4
          }
        ]
      }
    },
    "ApprovalRequestParty": {
      "description": "Object that defines a claim party role, contact method, user interface display for the claim payment that will be made for the approval request. May also specify the payment method to be used for the claim payment if the party is not required to approve the payment.",
      "required": [
        "AccountId"
      ],
      "type": "object",
      "properties": {
        "AccountId": {
          "format": "int32",
          "description": "ClaimsPay Account Identifier.",
          "type": "integer",
          "x-nullable": true
        },
        "ContactId": {
          "format": "int32",
          "description": "Company Contact identifier. Only applicable to company accounts.",
          "type": "integer",
          "x-nullable": true
        },
        "ExternalIndividualId": {
          "description": "A unique external identifier for individual contact that was used as externalCustomerId to manage customer notification preferences.",
          "type": "string"
        },
        "ExternalCompanyContactId": {
          "description": "A unique external identifier for company contact that was used as externalCustomerId to manage customer notification preferences.",
          "type": "string"
        },
        "ApprovalRole": {
          "$ref": "#/definitions/ApprovalRequestPartyRole"
        },
        "LinkDeliveryType": {
          "$ref": "#/definitions/MessageDeliveryType"
        },
        "PhoneNumber": {
          "description": "The Phone Number for the party to which the Approval Request text message will be sent. If DeliveryType is Text and it is not populated, the text will be sent to the Phone Number associated to the AccountId by default (unless modified by the Adjustor in the Adjustor Modal)",
          "type": "string"
        },
        "EmailAddress": {
          "description": "The email address for the party to which the Multi-Payee Approval emails will be sent. If DeliveryType is Email and it is not populated, the email will be sent to the email address stored for the AccountId by default (unless modified by the Adjustor in the Adjustor Modal).",
          "type": "string"
        },
        "PaymentAmount": {
          "format": "decimal",
          "description": "The amount of the payment that the approval party will receive. If role is ApprovalOnly, send 0.00.",
          "type": "number",
          "x-emitDefaultValue": true
        },
        "DisplayOtherPartiesInfo": {
          "description": "Information to be displayed to the current party about the other approval request parties that are part of the request.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DisplayOtherPartyInfo"
          }
        },
        "PaymentMethodType": {
          "$ref": "#/definitions/PaymentMethodType"
        },
        "Token": {
          "description": "Token for the bank account or card that will receive the payment for an approval party with the role of PaymentOnlyActionBypass if PaymentMethodType is Bank Account or Card.",
          "type": "string"
        },
        "Address": {
          "$ref": "#/definitions/MailingAddress",
          "description": "Address to which a check will be sent if the claim party selects the payment method of check. If the object is not sent and the portal settings allow for check as a payment option, the system will display the address stored for the AccountId or ContactId. Note: the stored primary address will not be updated."
        },
        "PartyCheckProperties": {
          "$ref": "#/definitions/PartyCheckProperties",
          "description": "Properties which will be used to compose a check if the payment method is check fulfilled by One Inc. When the ProcessType is IssueCheckPayment the information should be provided for the party with the role of MailToCheckParty."
        },
        "ExtendedParameters": {
          "description": "The collection of key value pairs for optional parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "BypassVendorNetwork": {
          "description": "When true, the system will bypass the Vendor's Payment Method and Delivery Method from the Vendor Network.\r\nThe VendorPay Welcome Email (i.e. Instant Payment) will be sent to the email provided or associated with the vendor.",
          "type": "boolean",
          "x-nullable": true
        }
      }
    },
    "ComposeCheckProperties": {
      "type": "object",
      "properties": {
        "PayToAccountId": {
          "format": "int32",
          "description": "AccountId of person or company that is named on the check.",
          "type": "integer",
          "x-emitDefaultValue": true
        },
        "AdditionalPayToParties": {
          "description": "AccountId of additional persons or companies that will be listed as additional recipients on the check. Each name must be preceded with either AND or OR.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdditionalPayToParty"
          }
        }
      }
    },
    "DisplayOtherPartyInfo": {
      "description": "Display claim party info model.",
      "required": [
        "Name"
      ],
      "type": "object",
      "properties": {
        "Name": {
          "description": "Name that will be displayed to the user in the approval portal Claim Information.",
          "type": "string"
        },
        "Role": {
          "$ref": "#/definitions/ApprovalRequestPartyRole"
        },
        "Amount": {
          "format": "decimal",
          "description": "Payment Amount that will be displayed to the user in the approval portal Claim Information.",
          "type": "number",
          "x-nullable": true
        }
      }
    },
    "MailingAddress": {
      "description": "Mailing address model.",
      "required": [
        "Address",
        "City",
        "State",
        "Zip"
      ],
      "type": "object",
      "properties": {
        "CompanyContactInformation": {
          "description": "Address field for additional company or contact information such as department or title. This applies to company accounts only.",
          "type": "string"
        },
        "Attention": {
          "description": "For payment method of check, the Attention line to provide additional identifying information for the recipient. For a company, the contact name will be used.",
          "type": "string"
        },
        "Address": {
          "description": "Address to which the check will be mailed.",
          "type": "string"
        },
        "Address2": {
          "description": "Address Line 2 to which the check will be mailed.",
          "type": "string"
        },
        "City": {
          "description": "The city to which the check will be mailed.",
          "type": "string"
        },
        "State": {
          "description": "The state to which the check will be mailed.",
          "type": "string"
        },
        "Zip": {
          "description": "The zip code to which the check will be mailed.",
          "type": "string"
        }
      }
    },
    "MailDeliveryType": {
      "description": "Defines the mailing method that will be used for the check. If absent, default value will be Standard.",
      "enum": [
        "Undefined",
        "Standard",
        "NextDay"
      ],
      "type": "string",
      "x-nullable": true,
      "x-ms-enum": {
        "name": "MailDeliveryType",
        "values": [
          {
            "name": "Undefined",
            "value": 0
          },
          {
            "name": "Standard",
            "value": 1
          },
          {
            "name": "NextDay",
            "value": 2
          }
        ]
      }
    },
    "PartyCheckProperties": {
      "type": "object",
      "properties": {
        "Memo": {
          "description": "Check memo line text.",
          "type": "string"
        },
        "MailDeliveryType": {
          "$ref": "#/definitions/MailDeliveryType"
        },
        "CustomPayToName": {
          "description": "Name of Person or company that is the recipient of the check that is different that the name on an AccountID.\r\nSystem will use 'CustomPayToName' as the first name or only name on a check when provided.",
          "type": "string"
        }
      }
    },
    "Separator": {
      "description": "Merge operator for additional persons or companies.",
      "enum": [
        "Undefined",
        "And",
        "Or"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "Separator",
        "values": [
          {
            "name": "Undefined",
            "value": 0
          },
          {
            "name": "And",
            "value": 1
          },
          {
            "name": "Or",
            "value": 2
          }
        ]
      }
    },
    "AdditionalPayToParty": {
      "required": [
        "Separator"
      ],
      "type": "object",
      "properties": {
        "Separator": {
          "$ref": "#/definitions/Separator"
        },
        "AccountId": {
          "format": "int32",
          "description": "AccountId of additional persons or companies.",
          "type": "integer",
          "x-emitDefaultValue": true
        }
      }
    },
    "ApprovalRequestStatus": {
      "description": "The status of the approval request process.",
      "enum": [
        "Undefined",
        "Initiated",
        "Completed",
        "Rejected",
        "Cancelled",
        "Expired",
        "Incomplete",
        "AuthorityHold"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "ApprovalRequestStatus",
        "values": [
          {
            "name": "Undefined",
            "value": 0
          },
          {
            "name": "Initiated",
            "value": 1
          },
          {
            "name": "Completed",
            "value": 2
          },
          {
            "name": "Rejected",
            "value": 3
          },
          {
            "name": "Cancelled",
            "value": 4
          },
          {
            "name": "Expired",
            "value": 5
          },
          {
            "name": "Incomplete",
            "value": 6
          },
          {
            "name": "AuthorityHold",
            "value": 7
          }
        ]
      }
    },
    "CreateApprovalRequestResponse": {
      "description": "Create approval request response",
      "required": [
        "Status"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayResponseBase"
        },
        {
          "required": [
            "Status"
          ],
          "type": "object",
          "properties": {
            "ApprovalRequestId": {
              "format": "int32",
              "description": "Unique identifier for the approval request.",
              "type": "integer",
              "x-emitDefaultValue": true
            },
            "CreationDate": {
              "format": "date-time",
              "description": "Date the approval request was created.",
              "type": "string",
              "x-emitDefaultValue": true
            },
            "ExpirationDate": {
              "format": "date-time",
              "description": "Date the approval request will expire.",
              "type": "string",
              "x-emitDefaultValue": true
            },
            "TimeZone": {
              "description": "Approval request time zone.",
              "type": "string"
            },
            "ProcessType": {
              "description": "The process type for the approval request.",
              "type": "string"
            },
            "AccountGroupCode": {
              "description": "The account group code of created approval request.",
              "type": "string"
            },
            "Status": {
              "$ref": "#/definitions/ApprovalRequestStatus"
            },
            "ApprovalRequestParties": {
              "description": "The array of the claim party information object which includes identifying information on each claim party.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApprovalRequestPartySummary"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "ApprovalRequestPartyStatus": {
      "description": "Status of the approval action for the claim party.",
      "enum": [
        "Undefined",
        "Initiated",
        "FailedWelcomeCommunication",
        "WebsiteAccessBlocked",
        "Rejected",
        "WaitingForOtherParties",
        "Completed",
        "PaymentIncomplete",
        "PaymentScheduled",
        "AuthorityHold"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "ApprovalRequestPartyStatus",
        "values": [
          {
            "name": "Undefined",
            "value": 0
          },
          {
            "name": "Initiated",
            "value": 1
          },
          {
            "name": "FailedWelcomeCommunication",
            "value": 2
          },
          {
            "name": "WebsiteAccessBlocked",
            "value": 3
          },
          {
            "name": "Rejected",
            "value": 4
          },
          {
            "name": "WaitingForOtherParties",
            "value": 5
          },
          {
            "name": "Completed",
            "value": 6
          },
          {
            "name": "PaymentIncomplete",
            "value": 7
          },
          {
            "name": "PaymentScheduled",
            "value": 8
          },
          {
            "name": "AuthorityHold",
            "value": 9
          }
        ]
      }
    },
    "ApprovalRequestPartySummary": {
      "description": "Approval request party summary model.",
      "required": [
        "Status"
      ],
      "type": "object",
      "properties": {
        "ApprovalRequestPartyId": {
          "format": "int32",
          "description": "ClaimsPay Approval Request Party Identifier.",
          "type": "integer",
          "x-emitDefaultValue": true
        },
        "AccountId": {
          "format": "int32",
          "description": "ClaimsPay Account Identifier.",
          "type": "integer",
          "x-emitDefaultValue": true
        },
        "ContactId": {
          "format": "int32",
          "description": "Company Contact identifier. Only applicable to company accounts.",
          "type": "integer",
          "x-nullable": true
        },
        "EmailAddress": {
          "description": "The email address to which the approval email was sent.",
          "type": "string"
        },
        "PhoneNumber": {
          "description": "The Phone Number to which the approval text message was sent.",
          "type": "string"
        },
        "Status": {
          "$ref": "#/definitions/ApprovalRequestPartyStatus"
        }
      }
    },
    "GetApprovalRequestByIdRequest": {
      "description": "Get approval request by id request.",
      "required": [
        "ApprovalRequestId",
        "ClaimsPayAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayRequestBase"
        },
        {
          "required": [
            "ApprovalRequestId",
            "ClaimsPayAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "ApprovalRequestId": {
              "format": "int32",
              "description": "Unique identifier for the Approval request.",
              "type": "integer",
              "x-nullable": true
            }
          }
        }
      ],
      "properties": {}
    },
    "GetApprovalRequestByIdResponse": {
      "description": "Get approval request by id response.",
      "required": [
        "Status"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayResponseBase"
        },
        {
          "required": [
            "Status"
          ],
          "type": "object",
          "properties": {
            "ApprovalRequestId": {
              "format": "int32",
              "description": "Unique identifier for the approval request.",
              "type": "integer",
              "x-emitDefaultValue": true
            },
            "ClaimNumber": {
              "description": "Claim number associated to the approval request.",
              "type": "string"
            },
            "Status": {
              "$ref": "#/definitions/ApprovalRequestStatus"
            },
            "CreationDate": {
              "format": "date-time",
              "description": "Date the approval request was initiated.",
              "type": "string",
              "x-emitDefaultValue": true
            },
            "ExpirationDate": {
              "format": "date-time",
              "description": "The expiration date of the approval request.",
              "type": "string",
              "x-emitDefaultValue": true
            },
            "TimeZone": {
              "description": "Approval request time zone.",
              "type": "string"
            },
            "ProcessType": {
              "description": "The process type for the approval request.",
              "type": "string"
            },
            "IsAuthorityHold": {
              "description": "Indicates if the approval request was created with an Authority Hold which requires the approval request to be released prior to initiating the payment process to the approval request parties.",
              "type": "boolean",
              "x-emitDefaultValue": true
            },
            "AccountGroupCode": {
              "description": "The account group code of the approval request.",
              "type": "string"
            },
            "ApprovalRequestPartiesInfo": {
              "description": "Information on each of the approval request party.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApprovalRequestPartyInfo"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "ApprovalRequestPartyInfo": {
      "description": "Approval request party info model.",
      "required": [
        "Status"
      ],
      "type": "object",
      "properties": {
        "ApprovalRequestPartyId": {
          "format": "int32",
          "description": "Claims pay approval request party identifier.",
          "type": "integer",
          "x-emitDefaultValue": true
        },
        "AccountId": {
          "format": "int32",
          "description": "Claims pay account identifier.",
          "type": "integer",
          "x-emitDefaultValue": true
        },
        "ContactId": {
          "format": "int32",
          "description": "Company contact identifier. Only applicable to company accounts.",
          "type": "integer",
          "x-nullable": true
        },
        "EmailAddress": {
          "description": "The email address to which the approval email was sent.",
          "type": "string"
        },
        "PhoneNumber": {
          "description": "The Phone Number to which the approval text message was sent.",
          "type": "string"
        },
        "FullName": {
          "description": "First and Last name of the approval request party.",
          "type": "string"
        },
        "CompanyName": {
          "description": "Company name if the ClaimsPayAccountType is Company.",
          "type": "string"
        },
        "Status": {
          "$ref": "#/definitions/ApprovalRequestPartyStatus"
        },
        "DisputeComment": {
          "description": "Applicable to ApprovalRequestPartyStatus is Rejected. The optional text entered by the approval request party when they disputed the claim payment.",
          "type": "string"
        },
        "PaymentSummary": {
          "$ref": "#/definitions/PaymentSummary",
          "description": "Payment method information and if payment has been processed, payment transaction information."
        }
      }
    },
    "PaymentSummary": {
      "description": "Payment summary model.",
      "required": [
        "PaymentMethodType"
      ],
      "type": "object",
      "properties": {
        "CheckSummary": {
          "$ref": "#/definitions/CheckSummary",
          "description": "Check summary information that was saved with the Approval Request."
        },
        "MailingAddress": {
          "$ref": "#/definitions/MailingAddress",
          "description": "Selected mailing address for check."
        },
        "BankAccountSummary": {
          "$ref": "#/definitions/BankAccountSummary",
          "description": "Bank account summary information that was saved with the Approval request."
        },
        "CardInfo": {
          "$ref": "#/definitions/CardInfo",
          "description": "Card summary information that was saved with the Approval request."
        },
        "PaymentMethodType": {
          "$ref": "#/definitions/PaymentMethodType"
        },
        "TransactionSummary": {
          "$ref": "#/definitions/TransactionSummary",
          "description": "Payment processing information."
        }
      }
    },
    "CheckFulfillmentOwnerType": {
      "description": "Identifies if the check was fulfilled by One Inc or returned to the client for fulfillment.",
      "enum": [
        "Undefined",
        "OneInc",
        "Client"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "CheckFulfillmentOwnerType",
        "values": [
          {
            "name": "Undefined",
            "value": 0
          },
          {
            "name": "OneInc",
            "value": 1
          },
          {
            "name": "Client",
            "value": 2
          }
        ]
      }
    },
    "CheckSummary": {
      "required": [
        "MailDeliveryType",
        "CheckFulfillmentOwner"
      ],
      "type": "object",
      "properties": {
        "PayTo": {
          "description": "Name(s) on the check.",
          "type": "string"
        },
        "CheckMemo": {
          "description": "Check Memo.",
          "type": "string"
        },
        "CheckStubData": {
          "description": "Information that was printed on the check stub.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "DocumentUrl": {
          "description": "The URL of the the pdf to be printed and mailed with the check if it was provided for the check payment.",
          "type": "string"
        },
        "MailDeliveryType": {
          "$ref": "#/definitions/MailDeliveryType"
        },
        "CheckFulfillmentOwner": {
          "$ref": "#/definitions/CheckFulfillmentOwnerType"
        }
      }
    },
    "CardInfo": {
      "description": "Card Info",
      "required": [
        "CardType"
      ],
      "type": "object",
      "properties": {
        "Token": {
          "description": "Card payment token.",
          "type": "string"
        },
        "LastFourDigits": {
          "description": "Last four digits of the card number.",
          "type": "string"
        },
        "CardType": {
          "$ref": "#/definitions/CardType"
        },
        "HolderName": {
          "description": "Card holder name.",
          "type": "string"
        }
      }
    },
    "PaymentProcessingStatus": {
      "description": "The status of the claim party payment.",
      "enum": [
        "Undefined",
        "Successful",
        "Failed",
        "Skipped"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "PaymentProcessingStatus",
        "values": [
          {
            "name": "Undefined",
            "value": 0
          },
          {
            "name": "Successful",
            "value": 1
          },
          {
            "name": "Failed",
            "value": 2
          },
          {
            "name": "Skipped",
            "value": 3
          }
        ]
      }
    },
    "TransactionSummary": {
      "description": "Transaction summary model.",
      "required": [
        "PaymentProcessingStatus"
      ],
      "type": "object",
      "properties": {
        "TransactionId": {
          "description": "Transaction identifier for the payment.",
          "type": "string"
        },
        "TransactionDate": {
          "format": "date-time",
          "description": "The date when transaction was executed.",
          "type": "string",
          "x-nullable": true
        },
        "BatchNumber": {
          "format": "int32",
          "description": "ProcessOne BatchNumber or CheckBatchNumber.",
          "type": "integer",
          "x-emitDefaultValue": true
        },
        "PaymentProcessingStatus": {
          "$ref": "#/definitions/PaymentProcessingStatus"
        },
        "PaymentResponseMessage": {
          "description": "Information from the payment transaction.",
          "type": "string"
        }
      }
    },
    "GetApprovalRequestsByStatusRequest": {
      "description": "Find approval request by status request.",
      "required": [
        "ClaimsPayAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayRequestBase"
        },
        {
          "required": [
            "ClaimsPayAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "AuthenticationKeys": {
              "description": "Authentication keys to define the search query.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "Statuses": {
              "description": "Approval Request statuses.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApprovalRequestStatus"
              }
            },
            "StartDate": {
              "format": "date-time",
              "description": "Search start date. If not provided start date would be -180 days from provided end date or -180 days from the current date if end date is empty.",
              "type": "string",
              "x-nullable": true
            },
            "EndDate": {
              "format": "date-time",
              "description": "Search end date. If not provided end date would be +180 days from provided start date or the current date if start date is empty.",
              "type": "string",
              "x-nullable": true
            }
          }
        }
      ],
      "properties": {}
    },
    "GetApprovalRequestsByStatusResponse": {
      "description": "Get approval request by status response.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "ApprovalRequests": {
              "description": "The result of get by status query.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApprovalRequestSummary"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "ApprovalRequestSummary": {
      "description": "Approval request summary.",
      "required": [
        "Status"
      ],
      "type": "object",
      "properties": {
        "ApprovalRequestId": {
          "format": "int32",
          "description": "Unique identifier for the approval request.",
          "type": "integer",
          "x-emitDefaultValue": true
        },
        "ClaimNumber": {
          "description": "Claim number associated to the approval request.",
          "type": "string"
        },
        "Status": {
          "$ref": "#/definitions/ApprovalRequestStatus"
        },
        "CreationDate": {
          "format": "date-time",
          "description": "Date the approval request was initiated.",
          "type": "string",
          "x-emitDefaultValue": true
        },
        "ExpirationDate": {
          "format": "date-time",
          "description": "Date the approval request will expire.",
          "type": "string",
          "x-emitDefaultValue": true
        },
        "TimeZone": {
          "description": "Approval request time zone.",
          "type": "string"
        },
        "ProcessType": {
          "description": "The process type for the approval request.",
          "type": "string"
        },
        "IsAuthorityHold": {
          "description": "Indicates if the approval request was created with an Authority Hold which requires the approval request to be released prior to initiating the payment process to the approval request parties.",
          "type": "boolean",
          "x-emitDefaultValue": true
        },
        "AccountGroupCode": {
          "description": "The account group code of the approval request.",
          "type": "string"
        },
        "ApprovalRequestPartyInfos": {
          "description": "Information about each Approval request party.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApprovalRequestPartyInfo"
          }
        }
      }
    },
    "CancelApprovalRequestRequest": {
      "required": [
        "ApprovalRequestId",
        "ClaimsPayAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayRequestBase"
        },
        {
          "required": [
            "ApprovalRequestId",
            "ClaimsPayAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "ApprovalRequestId": {
              "format": "int32",
              "description": "Unique identifier for the Approval request.",
              "type": "integer",
              "x-nullable": true
            }
          }
        }
      ],
      "properties": {}
    },
    "CancelApprovalRequestResponse": {
      "description": "Cancel approval request response.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayResponseBase"
        },
        {
          "type": "object",
          "properties": {}
        }
      ],
      "properties": {}
    },
    "ResendApprovalRequestRequest": {
      "description": "Resend approval request request.",
      "required": [
        "ApprovalRequestId",
        "ClaimsPayAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayRequestBase"
        },
        {
          "required": [
            "ApprovalRequestId",
            "ClaimsPayAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "ApprovalRequestId": {
              "format": "int32",
              "description": "Unique identifier for the Approval request.",
              "type": "integer",
              "x-nullable": true
            },
            "ResendParties": {
              "description": "Information for each claim party to which the initiation information will be resent.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResendApprovalRequestPartyInfo"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "ResendApprovalRequestPartyInfo": {
      "description": "Approval request party resend initiation model.",
      "required": [
        "AccountId"
      ],
      "type": "object",
      "properties": {
        "AccountId": {
          "format": "int32",
          "description": "ClaimsPay Account Identifier.",
          "type": "integer",
          "x-nullable": true
        },
        "ContactId": {
          "format": "int32",
          "description": "Company Contact identifier. Only applicable to company accounts.",
          "type": "integer",
          "x-nullable": true
        },
        "LinkDeliveryType": {
          "$ref": "#/definitions/MessageDeliveryType"
        },
        "PhoneNumber": {
          "description": "The verified (opted-in) phone number for the party to which the Multi-Payee Approval SMS messages will be sent. If DeliveryType is Text and it is not populated, SMS will be sent to the phone number stored for the AccountId or ContactId.",
          "type": "string"
        },
        "EmailAddress": {
          "description": "The email address for the party to which the Multi-Payee Approval emails will be sent. If DeliveryType is Email and it is not populated, the email will be sent to the email address stored for the AccountId or ContactId.",
          "type": "string"
        }
      }
    },
    "ResendApprovalRequestResponse": {
      "description": "Resend approval request response.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "ApprovalRequestId": {
              "format": "int32",
              "description": "Unique identifier for the Approval request.",
              "type": "integer",
              "x-emitDefaultValue": true
            },
            "PartiesSummary": {
              "description": "The array of the approval party information object for each of the approval parties which were included in request.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResendApprovalRequestPartySummary"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "ResendApprovalRequestPartySummary": {
      "description": "Approval request party summary model.",
      "type": "object",
      "properties": {
        "ApprovalRequestPartyId": {
          "format": "int32",
          "description": "ClaimsPay Approval Request Party Identifier.",
          "type": "integer",
          "x-emitDefaultValue": true
        },
        "AccountId": {
          "format": "int32",
          "description": "ClaimsPay Account Identifier.",
          "type": "integer",
          "x-emitDefaultValue": true
        },
        "ContactId": {
          "format": "int32",
          "description": "Company Contact identifier. Only applicable to company accounts.",
          "type": "integer",
          "x-nullable": true
        },
        "EmailAddress": {
          "description": "The email address to which the approval email will be sent.",
          "type": "string"
        },
        "PhoneNumber": {
          "description": "The Phone Number to which the approval text message will be sent.",
          "type": "string"
        },
        "ResendStatus": {
          "description": "Resend operation response code.",
          "type": "string"
        },
        "ResponseMessage": {
          "description": "Response message.",
          "type": "string"
        }
      }
    },
    "ReleaseApprovalRequestRequest": {
      "description": "Release Approval Request request",
      "required": [
        "ApprovalRequestId",
        "ClaimsPayAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayRequestBase"
        },
        {
          "required": [
            "ApprovalRequestId",
            "ClaimsPayAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "ApprovalRequestId": {
              "format": "int32",
              "description": "Unique identifier for the Approval request.",
              "type": "integer",
              "x-nullable": true
            },
            "ReleasedBy": {
              "description": "User name of the authorized user that is releasing the Approval Request",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "ReleaseApprovalRequestResponse": {
      "description": "Release Approval Request response.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayResponseBase"
        },
        {
          "type": "object",
          "properties": {}
        }
      ],
      "properties": {}
    },
    "CreditBankAccountRequest": {
      "description": "CreditBankAccount Request",
      "required": [
        "AccountId",
        "Amount",
        "ClaimNumber",
        "ClaimsPayAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClaimsPayRequestBase"
        },
        {
          "required": [
            "AccountId",
            "Amount",
            "ClaimNumber",
            "ClaimsPayAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "AccountId": {
              "format": "int32",
              "description": "ClaimsPay Account Identifier.",
              "type": "integer",
              "x-emitDefaultValue": true
            },
            "ContactId": {
              "format": "int32",
              "description": "Company Contact identifier. Only applicable to company accounts. If sent, will be used to identify the recipient of the payment complete email.",
              "type": "integer",
              "x-nullable": true
            },
            "Amount": {
              "format": "decimal",
              "description": "Amount of payment.",
              "type": "number",
              "x-emitDefaultValue": true
            },
            "Token": {
              "description": "Saved bank account token.",
              "type": "string"
            },
            "AccountGroupCode": {
              "description": "This field is used to route money from different accounts based on a predefined groups.",
              "type": "string"
            },
            "BankAccountDetails": {
              "$ref": "#/definitions/BankAccountDetails",
              "description": "Bank Account details."
            },
            "ClaimNumber": {
              "description": "Claim number that will be associated to the payment.",
              "type": "string"
            },
            "ClaimDetails": {
              "description": "Claim details which will be sent in the payment email.",
              "type": "string"
            },
            "SourceUser": {
              "description": "Identifier/name of user in the source system for reporting purposes.",
              "type": "string"
            },
            "BypassBankAccountValidation": {
              "description": "Bypasses bank account validation during save when BankAccountDetails are sent.",
              "type": "boolean",
              "x-emitDefaultValue": true
            }
          }
        }
      ],
      "properties": {}
    },
    "BankAccountDetails": {
      "description": "Bank Account Information",
      "required": [
        "AccountType"
      ],
      "type": "object",
      "properties": {
        "RoutingNumber": {
[...]
