{
  "swagger": "2.0",
  "info": {
    "version": "External",
    "title": "OneInc.PortalOne.Communication"
  },
  "host": "testportalone.processonepayments.com",
  "basePath": "/Communication",
  "schemes": [
    "https"
  ],
  "paths": {
    "/Messages/Send": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Schedule message for send",
        "operationId": "Messages_Send",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Model with message description and parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendCommunicationMessageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SendCommunicationMessageResponse"
            }
          }
        },
        "x-operation-name": "Send",
        "x-operation-name-lower": "send"
      }
    },
    "/Messages/SendBatch": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Schedule collection of messages for send",
        "operationId": "Messages_SendBatch",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Model with collection of messages",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendCommunicationMessageBatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SendCommunicationMessageBatchResponse"
            }
          }
        },
        "x-operation-name": "SendBatch",
        "x-operation-name-lower": "sendbatch"
      }
    },
    "/Messages/Get": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get message info by ExternalMessageId",
        "operationId": "Messages_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "externalMessageId",
            "in": "query",
            "description": "External Message Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "portalOneAuthenticationKey",
            "in": "query",
            "description": "PortalOne Authentication Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetCommunicationMessageResponse"
            }
          }
        },
        "x-operation-name": "Get",
        "x-operation-name-lower": "get"
      }
    },
    "/Messages/SendVerificationCode": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Schedule verification code message for send",
        "operationId": "Messages_SendVerificationCode",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Model with message description and parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendVerificationCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SendVerificationCodeResponse"
            }
          }
        },
        "x-operation-name": "SendVerificationCode",
        "x-operation-name-lower": "sendverificationcode"
      }
    },
    "/Messages/ValidateVerificationCode": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Validate verification code",
        "operationId": "Messages_ValidateVerificationCode",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Parameters for find verification message and code",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateVerificationCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ValidateVerificationCodeResponse"
            }
          }
        },
        "x-operation-name": "ValidateVerificationCode",
        "x-operation-name-lower": "validateverificationcode"
      }
    },
    "/Messages/IsVerificationCodeValidated": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Is verification code validated",
        "operationId": "Messages_IsVerificationCodeValidated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "externalMessageId",
            "in": "query",
            "description": "External Message Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "description": "Phone Number",
            "required": true,
            "type": "string"
          },
          {
            "name": "portalOneAuthenticationKey",
            "in": "query",
            "description": "PortalOne Authentication Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IsVerificationCodeValidatedResponse"
            }
          }
        },
        "x-operation-name": "IsVerificationCodeValidated",
        "x-operation-name-lower": "isverificationcodevalidated"
      }
    },
    "/Messages/CancelPayByLink": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Cancels pay by link",
        "operationId": "Messages_CancelPayByLink",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Parameters to find communication message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelPayByLinkMessageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CancelPayByLinkMessageResponse"
            }
          }
        },
        "x-operation-name": "CancelPayByLink",
        "x-operation-name-lower": "cancelpaybylink"
      }
    },
    "/MessageTemplates/GetTemplatesInfo": {
      "get": {
        "tags": [
          "MessageTemplates"
        ],
        "summary": "Get available template codes in the portal identified by authentication key",
        "operationId": "MessageTemplates_GetTemplatesInfo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "portalOneAuthenticationKey",
            "in": "query",
            "description": "PortalOne Authentication Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetCommunicationTemplateInfoResponse"
            }
          }
        },
        "x-operation-name": "GetTemplatesInfo",
        "x-operation-name-lower": "gettemplatesinfo"
      }
    },
    "/Subscriptions/GetSubscriptionDetails": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Get subscription statuses by phone number/email/customer id/external customer id",
        "operationId": "Subscriptions_GetSubscriptionDetails",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Parameters for find subscriptions",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSubscriptionDetailsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SubscriptionDetailsDto"
              }
            }
          }
        },
        "x-operation-name": "GetSubscriptionDetails",
        "x-operation-name-lower": "getsubscriptiondetails"
      }
    },
    "/Subscriptions/OptOutFromText": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Opt out customer phone number from text notifications",
        "operationId": "Subscriptions_OptOutFromText",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Opt out from text request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OptOutFromTextRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OptOutFromTextResponse"
            }
          }
        },
        "x-operation-name": "OptOutFromText",
        "x-operation-name-lower": "optoutfromtext"
      }
    },
    "/Subscriptions/OptOutFromEmail": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Opt out customer email from notifications",
        "operationId": "Subscriptions_OptOutFromEmail",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Opt out from email request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OptOutFromEmailRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OptOutFromEmailResponse"
            }
          }
        },
        "x-operation-name": "OptOutFromEmail",
        "x-operation-name-lower": "optoutfromemail"
      }
    },
    "/Subscriptions/OptOutFromPhoneCall": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Opt out customer phone number from phone calls",
        "operationId": "Subscriptions_OptOutFromPhoneCall",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Opt out from phone call request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OptOutFromPhoneCallRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OptOutFromPhoneCallResponse"
            }
          }
        },
        "x-operation-name": "OptOutFromPhoneCall",
        "x-operation-name-lower": "optoutfromphonecall"
      }
    }
  },
  "definitions": {
    "SendCommunicationMessageRequest": {
      "required": [
        "PortalOneAuthenticationKey",
        "ExternalMessageId",
        "TemplateCode",
        "PhoneNumber",
        "EmailAddress"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SendCommunicationMessage"
        },
        {
          "required": [
            "PortalOneAuthenticationKey",
            "ExternalMessageId",
            "TemplateCode",
            "PhoneNumber",
            "EmailAddress"
          ],
          "type": "object",
          "properties": {
            "PortalOneAuthenticationKey": {
              "description": "PortalOne Authentication Key",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "SendCommunicationMessageExecutionResult": {
      "description": "Execution Result",
      "enum": [
        "Failed",
        "ValidationFailed",
        "OptOutFailed",
        "Success"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "SendCommunicationMessageExecutionResult",
        "values": [
          {
            "name": "Failed",
            "value": 1
          },
          {
            "name": "ValidationFailed",
            "value": 2
          },
          {
            "name": "OptOutFailed",
            "value": 3
          },
          {
            "name": "Success",
            "value": 4
          }
        ]
      }
    },
    "SendCommunicationMessageResponse": {
      "required": [
        "ExecutionResult"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "required": [
            "ExecutionResult"
          ],
          "type": "object",
          "properties": {
            "ExecutionResult": {
              "$ref": "#/definitions/SendCommunicationMessageExecutionResult"
            },
            "ExecutionResultDescription": {
              "description": "Result Description",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "SendCommunicationMessageBatchRequest": {
      "required": [
        "Messages",
        "PortalOneAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiRequestBase"
        },
        {
          "required": [
            "Messages",
            "PortalOneAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "Messages": {
              "description": "Communication Messages",
              "type": "array",
              "items": {
                "$ref": "#/definitions/SendCommunicationMessage"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "CommunicationMessageType": {
      "description": "Communication Message Type",
      "enum": [
        "Undefined",
        "Message",
        "Conversation",
        "VerificationCode",
        "Receipt",
        "System"
      ],
      "type": "string",
      "x-nullable": true,
      "x-ms-enum": {
        "name": "CommunicationMessageType",
        "values": [
          {
            "name": "Undefined",
            "value": 0
          },
          {
            "name": "Message",
            "value": 1
          },
          {
            "name": "Conversation",
            "value": 2
          },
          {
            "name": "VerificationCode",
            "value": 3
          },
          {
            "name": "Receipt",
            "value": 4
          },
          {
            "name": "System",
            "value": 5
          }
        ]
      }
    },
    "CommunicationMessageChannelType": {
      "description": "Communication Message Channel",
      "enum": [
        "Undefined",
        "Email",
        "Text",
        "PhoneCall"
      ],
      "type": "string",
      "x-nullable": true,
      "x-ms-enum": {
        "name": "CommunicationMessageChannelType",
        "values": [
          {
            "name": "Undefined",
            "value": 0
          },
          {
            "name": "Email",
            "value": 1
          },
          {
            "name": "Text",
            "value": 2
          },
          {
            "name": "PhoneCall",
            "value": 3
          }
        ]
      }
    },
    "SendCommunicationMessage": {
      "required": [
        "discriminator_SendCommunicationMessage"
      ],
      "type": "object",
      "properties": {
        "ExternalMessageId": {
          "description": "External MessageId",
          "type": "string"
        },
        "TemplateCode": {
          "description": "Template Code",
          "type": "string"
        },
        "Type": {
          "$ref": "#/definitions/CommunicationMessageType"
        },
        "Channel": {
          "$ref": "#/definitions/CommunicationMessageChannelType"
        },
        "TimezoneId": {
          "description": "Time Zone",
          "type": "string"
        },
        "PhoneNumber": {
          "description": "Phone Number.\r\nRequired if Channel is Text or PhoneCall",
          "type": "string"
        },
        "EmailAddress": {
          "description": "Email Address.\r\nRequired if Channel is Email",
          "type": "string"
        },
        "CustomerId": {
          "format": "uuid",
          "description": "Customer Id.\r\nRequired if ExternalCustomerId is null or empty",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000",
          "x-nullable": true
        },
        "ExternalCustomerId": {
          "description": "External Customer Id.\r\nRequired if CustomerId is null or empty",
          "type": "string"
        },
        "Properties": {
          "description": "Some External Properties",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "AccountId": {
          "description": "Account Id",
          "type": "string"
        },
        "discriminator_SendCommunicationMessage": {
          "type": "string"
        }
      },
      "discriminator": "discriminator_SendCommunicationMessage"
    },
    "SendCommunicationMessageBatchResponse": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "Results": {
              "description": "Communication Messages",
              "type": "array",
              "items": {
                "$ref": "#/definitions/SendCommunicationMessageResult"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "SendCommunicationMessageResult": {
      "required": [
        "ExecutionResult"
      ],
      "type": "object",
      "properties": {
        "ExternalMessageId": {
          "description": "External Message Id",
          "type": "string"
        },
        "ExecutionResult": {
          "$ref": "#/definitions/SendCommunicationMessageExecutionResult"
        },
        "ExecutionResultDescription": {
          "description": "Result Description",
          "type": "string"
        }
      }
    },
    "GetCommunicationMessageRequest": {
      "required": [
        "ExternalMessageId",
        "PortalOneAuthenticationKey"
      ],
      "type": "object",
      "properties": {
        "ExternalMessageId": {
          "description": "External Message Id",
          "type": "string"
        },
        "PortalOneAuthenticationKey": {
          "description": "PortalOne Authentication Key",
          "type": "string"
        }
      }
    },
    "GetCommunicationMessageResponse": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "ExecutionResultDescription": {
              "description": "Result Description",
              "type": "string"
            },
            "CommunicationMessage": {
              "$ref": "#/definitions/GetCommunicationMessageSnapshotDto",
              "description": "Communication Message"
            }
          }
        }
      ],
      "properties": {}
    },
    "CommunicationMessageStatus": {
      "description": "Communication Message Status",
      "enum": [
        "New",
        "IgnoredDueValidation",
        "IgnoredDueOptOut",
        "Scheduled",
        "Sent",
        "FailedToSend",
        "Delivered",
        "DeliveredWithComplaint",
        "Bounced",
        "AwaitingOptIn",
        "IgnoredDueAwaitingOptIn"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "CommunicationMessageStatus",
        "values": [
          {
            "name": "New",
            "value": 1
          },
          {
            "name": "IgnoredDueValidation",
            "value": 2
          },
          {
            "name": "IgnoredDueOptOut",
            "value": 3
          },
          {
            "name": "Scheduled",
            "value": 4
          },
          {
            "name": "Sent",
            "value": 5
          },
          {
            "name": "FailedToSend",
            "value": 6
          },
          {
            "name": "Delivered",
            "value": 7
          },
          {
            "name": "DeliveredWithComplaint",
            "value": 8
          },
          {
            "name": "Bounced",
            "value": 9
          },
          {
            "name": "AwaitingOptIn",
            "value": 10
          },
          {
            "name": "IgnoredDueAwaitingOptIn",
            "value": 11
          }
        ]
      }
    },
    "GetCommunicationMessageSnapshotDto": {
      "required": [
        "Channel",
        "MessageStatus"
      ],
      "type": "object",
      "properties": {
        "CommunicationMessageId": {
          "format": "int32",
          "description": "Communication Message Id",
          "type": "integer",
          "x-emitDefaultValue": true
        },
        "MessageExternalId": {
          "description": "External Message Id",
          "type": "string"
        },
        "Channel": {
          "$ref": "#/definitions/CommunicationMessageChannelType"
        },
        "Payload": {
          "description": "Payload",
          "type": "string"
        },
        "MessageStatus": {
          "$ref": "#/definitions/CommunicationMessageStatus"
        },
        "StatusDescription": {
          "description": "Status Description",
          "type": "string"
        },
        "Timezone": {
          "description": "Timezone",
          "type": "string"
        },
        "ExpirationDateUtc": {
          "format": "date-time",
          "description": "Expiration Date in UTC format",
          "type": "string",
          "x-emitDefaultValue": true
        },
        "LastUpdatedDateUtc": {
          "format": "date-time",
          "description": "Last Updated Date in UTC format",
          "type": "string",
          "x-emitDefaultValue": true
        },
        "SendingDateUtc": {
          "format": "date-time",
          "description": "Sending Date in UTC format",
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "SendVerificationCodeRequest": {
      "required": [
        "ExternalMessageId",
        "PhoneNumber",
        "EmailAddress",
        "PortalOneAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiRequestBase"
        },
        {
          "required": [
            "ExternalMessageId",
            "PhoneNumber",
            "EmailAddress",
            "PortalOneAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "ExternalMessageId": {
              "description": "External MessageId",
              "type": "string"
            },
            "Channel": {
              "$ref": "#/definitions/CommunicationMessageChannelType"
            },
            "TimezoneId": {
              "description": "Time Zone",
              "type": "string"
            },
            "PhoneNumber": {
              "description": "Phone Number.\r\nRequired if Channel is Text or PhoneCall",
              "type": "string"
            },
            "EmailAddress": {
              "description": "Email Address.\r\nRequired if Channel is Email",
              "type": "string"
            },
            "CustomerId": {
              "format": "uuid",
              "description": "Customer Id.\r\nRequired if ExternalCustomerId is null or empty",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000",
              "x-nullable": true
            },
            "ExternalCustomerId": {
              "description": "External Customer Id.\r\nRequired if CustomerId is null or empty",
              "type": "string"
            },
            "AccountId": {
              "description": "Account Id",
              "type": "string"
            },
            "Properties": {
              "description": "External Properties",
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "SendVerificationCodeResponse": {
      "required": [
        "ExecutionResult"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SendCommunicationMessageResponse"
        },
        {
          "required": [
            "ExecutionResult"
          ],
          "type": "object",
          "properties": {}
        }
      ],
      "properties": {}
    },
    "ValidateVerificationCodeRequest": {
      "required": [
        "ExternalMessageId",
        "VerificationCode",
        "PortalOneAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiRequestBase"
        },
        {
          "required": [
            "ExternalMessageId",
            "VerificationCode",
            "PortalOneAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "ExternalMessageId": {
              "description": "External Message Id",
              "type": "string"
            },
            "VerificationCode": {
              "description": "Verification Code",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "ValidateVerificationCodeStatus": {
      "description": "Validate Verification Code",
      "enum": [
        "NotValid",
        "Locked",
        "Expired",
        "Valid"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "ValidateVerificationCodeStatus",
        "values": [
          {
            "name": "NotValid",
            "value": 1
          },
          {
            "name": "Locked",
            "value": 2
          },
          {
            "name": "Expired",
            "value": 3
          },
          {
            "name": "Valid",
            "value": 4
          }
        ]
      }
    },
    "ValidateVerificationCodeResponse": {
      "required": [
        "Result"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "required": [
            "Result"
          ],
          "type": "object",
          "properties": {
            "Result": {
              "$ref": "#/definitions/ValidateVerificationCodeStatus"
            },
            "RemainingAttemptsCount": {
              "format": "int32",
              "description": "Remaining Attempts Count",
              "type": "integer",
              "x-nullable": true
            },
            "ExpirationDate": {
              "format": "date-time",
              "description": "Expiration Date",
              "type": "string",
              "x-nullable": true
            }
          }
        }
      ],
      "properties": {}
    },
    "IsVerificationCodeValidatedRequest": {
      "required": [
        "ExternalMessageId",
        "PhoneNumber",
        "PortalOneAuthenticationKey"
      ],
      "type": "object",
      "properties": {
        "ExternalMessageId": {
          "description": "External Message Id",
          "type": "string"
        },
        "PhoneNumber": {
          "description": "Phone Number",
          "type": "string"
        },
        "PortalOneAuthenticationKey": {
          "description": "PortalOne Authentication Key",
          "type": "string"
        }
      }
    },
    "IsVerificationCodeValidatedResponse": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "IsValidated": {
              "description": "Is Verification Code Validated",
              "type": "boolean",
              "x-emitDefaultValue": true
            }
          }
        }
      ],
      "properties": {}
    },
    "CancelPayByLinkMessageRequest": {
      "required": [
        "ExternalMessageId",
        "PortalOneAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiRequestBase"
        },
        {
          "required": [
            "ExternalMessageId",
            "PortalOneAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "ExternalMessageId": {
              "description": "External Message Id",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "CancelPayByLinkMessageResponse": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {}
        }
      ],
      "properties": {}
    },
    "GetCommunicationTemplateInfoRequest": {
      "required": [
        "PortalOneAuthenticationKey"
      ],
      "type": "object",
      "properties": {
        "PortalOneAuthenticationKey": {
          "description": "PortalOne Authentication Key",
          "type": "string"
        }
      }
    },
    "GetCommunicationTemplateInfoResponse": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "TemplatesInfo": {
              "description": "Collection of Templates Info",
              "type": "array",
              "items": {
                "$ref": "#/definitions/CommunicationMessageTemplateInfo"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "CommunicationMessageTemplateInfo": {
      "required": [
        "Channel"
      ],
      "type": "object",
      "properties": {
        "Key": {
          "description": "Template Key",
          "type": "string"
        },
        "Channel": {
          "$ref": "#/definitions/CommunicationMessageChannelType"
        }
      }
    },
    "GetSubscriptionDetailsRequest": {
      "required": [
        "PortalOneAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiRequestBase"
        },
        {
          "required": [
            "PortalOneAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "PhoneNumberList": {
              "description": "Collection of Phone Numbers",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "EmailList": {
              "description": "Collection of Email Addresses",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "CustomerIdList": {
              "description": "Collection of Customer Id",
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string",
                "example": "00000000-0000-0000-0000-000000000000"
              }
            },
            "ExternalCustomerIdList": {
              "description": "Collection of External Customer ID",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "SubscriptionDetailsStatus": {
      "description": "Subscription Detail Status for Text Messages",
      "enum": [
        "NotEnrolled",
        "OptedIn",
        "OptedOut",
        "AwaitingOptIn"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "SubscriptionDetailsStatus",
        "values": [
          {
            "name": "NotEnrolled",
            "value": 0
          },
          {
            "name": "OptedIn",
            "value": 1
          },
          {
            "name": "OptedOut",
            "value": 2
          },
          {
            "name": "AwaitingOptIn",
            "value": 3
          }
        ]
      }
    },
    "SubscriptionDetailsDto": {
      "required": [
        "TextSubscriptionStatus",
        "EmailSubscriptionStatus",
        "PhoneCallSubscriptionStatus"
      ],
      "type": "object",
      "properties": {
        "CustomerId": {
          "format": "uuid",
          "description": "Customer Id",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000",
          "x-emitDefaultValue": true
        },
        "ExternalCustomerId": {
          "description": "External Customer Id",
          "type": "string"
        },
        "TextSubscriptionStatus": {
          "$ref": "#/definitions/SubscriptionDetailsStatus"
        },
        "TextSubscriptionContact": {
          "description": "Text Subscription Contact",
          "type": "string"
        },
        "EmailSubscriptionStatus": {
          "$ref": "#/definitions/SubscriptionDetailsStatus"
        },
        "EmailSubscriptionContact": {
          "description": "Email Subscription Contact",
          "type": "string"
        },
        "PhoneCallSubscriptionStatus": {
          "$ref": "#/definitions/SubscriptionDetailsStatus"
        },
        "PhoneCallSubscriptionContact": {
          "description": "Phone Call Subscription Contact",
          "type": "string"
        },
        "ResultCode": {
          "description": "Result Code",
          "type": "string"
        },
        "ResultMessage": {
          "description": "Result Message",
          "type": "string"
        }
      }
    },
    "OptOutFromTextRequest": {
      "required": [
        "PhoneNumber",
        "PortalOneAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/OptOutRequestBase"
        },
        {
          "required": [
            "PhoneNumber",
            "PortalOneAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "PhoneNumber": {
              "description": "Phone Number",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "OptOutFromTextResponse": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {}
        }
      ],
      "properties": {}
    },
    "OptOutFromEmailRequest": {
      "required": [
        "EmailAddress",
        "PortalOneAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/OptOutRequestBase"
        },
        {
          "required": [
            "EmailAddress",
            "PortalOneAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "EmailAddress": {
              "description": "Email Address",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "OptOutFromEmailResponse": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {}
        }
      ],
      "properties": {}
    },
    "OptOutFromPhoneCallRequest": {
      "required": [
        "PhoneNumber",
        "PortalOneAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/OptOutRequestBase"
        },
        {
          "required": [
            "PhoneNumber",
            "PortalOneAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "PhoneNumber": {
              "description": "Phone Number",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "OptOutFromPhoneCallResponse": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {}
        }
      ],
      "properties": {}
    },
    "ApiRequestBase": {
      "required": [
        "discriminator_ApiRequestBase"
      ],
      "type": "object",
      "properties": {
        "PortalOneAuthenticationKey": {
          "description": "PortalOne Authentication Key",
          "type": "string"
        },
        "discriminator_ApiRequestBase": {
          "type": "string"
        }
      },
      "discriminator": "discriminator_ApiRequestBase"
    },
    "OptOutRequestBase": {
      "required": [
        "PortalOneAuthenticationKey"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiRequestBase"
        },
        {
          "required": [
            "PortalOneAuthenticationKey"
          ],
          "type": "object",
          "properties": {
            "CustomerId": {
              "format": "uuid",
              "description": "Customer Id",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000",
              "x-nullable": true
            },
            "ExternalCustomerId": {
              "description": "Customer Id at external system",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "ApiResponseBase": {
      "required": [
        "discriminator_ApiResponseBase"
      ],
      "type": "object",
      "properties": {
        "ResponseCode": {
          "description": "Response Code",
          "type": "string"
        },
        "ResponseMessage": {
          "description": "Response Message",
          "type": "string"
        },
        "discriminator_ApiResponseBase": {
          "type": "string"
        }
      },
      "discriminator": "discriminator_ApiResponseBase"
    }
  }
}