{
  "swagger": "2.0",
  "info": {
    "version": "External",
    "title": "OneInc.PortalOne.Api"
  },
  "host": "testportalone.processonepayments.com",
  "basePath": "/Api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/AccessToken/Create": {
      "post": {
        "tags": [
          "AccessToken"
        ],
        "summary": "Create new AccessToken with associated data",
        "operationId": "AccessToken_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Request for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAccessTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateAccessTokenResponse"
            }
          }
        },
        "x-operation-name": "Create",
        "x-operation-name-lower": "create"
      }
    },
    "/AutoPay/Cancel": {
      "post": {
        "tags": [
          "AutoPay"
        ],
        "summary": "This operation  is used to cancel existing AutoPay Enrollment.",
        "operationId": "AutoPay_Cancel",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Data to cancel AutoPay Enrollment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelAutoPayRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CancelAutoPayResponse"
            }
          }
        },
        "x-operation-name": "Cancel",
        "x-operation-name-lower": "cancel"
      }
    },
    "/AutoPay/CheckPaymentMethodStatus": {
      "post": {
        "tags": [
          "AutoPay"
        ],
        "summary": "This operation returns the result of checking the use of the payment method for AutoPay.",
        "operationId": "AutoPay_CheckPaymentMethodStatus",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Data to check payment method using",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckPaymentMethodAutoPayStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CheckPaymentMethodAutoPayStatusResponse"
            }
          }
        },
        "x-operation-name": "CheckPaymentMethodStatus",
        "x-operation-name-lower": "checkpaymentmethodstatus"
      }
    },
    "/AutoPay/Enroll": {
      "post": {
        "tags": [
          "AutoPay"
        ],
        "summary": "This operation is used to create a new AutoPay Enrollment.",
        "operationId": "AutoPay_Enroll",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Data to create AutoPay Enrollment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnrollAutoPayRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnrollAutoPayResponse"
            }
          }
        },
        "x-operation-name": "Enroll",
        "x-operation-name-lower": "enroll"
      }
    },
    "/AutoPay/SearchActiveEnrollments": {
      "post": {
        "tags": [
          "AutoPay"
        ],
        "summary": "This operation returns an active AutoPay Enrollments for provided policies.",
        "operationId": "AutoPay_SearchActiveEnrollments",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Data to search AutoPay Enrollments",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchActiveEnrollmentsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SearchActiveEnrollmentsResponse"
            }
          }
        },
        "x-operation-name": "SearchActiveEnrollments",
        "x-operation-name-lower": "searchactiveenrollments"
      }
    },
    "/AutoPay/Modify": {
      "post": {
        "tags": [
          "AutoPay"
        ],
        "summary": "This operation is used to modify an existing AutoPay Enrollment.\r\nThis method is used to change an existing installment plan.\r\nIf InstallmentEngine is Carrier-controlled (i.e. carrier provides control of Installment Plans by ExternalAPI),\r\nthe Installment Plan will be updated by Carrier, and installment plan information will be recieved from Carrier side.\r\nIf InstallmentEngine is contolled by OneInc, Installment Plan will be changed and installment plan information will be recieved.",
        "operationId": "AutoPay_Modify",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyAutoPayRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModifyAutoPayResponse"
            }
          }
        },
        "x-operation-name": "Modify",
        "x-operation-name-lower": "modify"
      }
    },
    "/AutoPay/ChargePayment": {
      "post": {
        "tags": [
          "AutoPay"
        ],
        "summary": "This operation is used to charge existing AutoPay Enrollment.\r\nIt is used to make a payment for a particular policy with an existing AutoPay installment plan.\r\nWhen payment has been processed a postback about result and payment information will be sent to Carrier.",
        "operationId": "AutoPay_ChargePayment",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Data to charge AutoPay Enrollment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargeAutoPayRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ChargeAutoPayResponse"
            }
          }
        },
        "x-operation-name": "ChargePayment",
        "x-operation-name-lower": "chargepayment"
      }
    },
    "/Card/SaveMobile": {
      "post": {
        "tags": [
          "Card"
        ],
        "summary": "This operation tokenizes all the required information for Apple Pay payment.\r\nOnce the information is tokenized, you no longer have to provide us any sensitive information\r\nto make payments to this card. To initiate transactions with a token simply provide the token\r\nthat is returned in the SaveMobile results in the ProcessOne RESTful API.\r\nNote: the first payment must be made with the token within 30 minutes of the SaveMobile request.",
        "operationId": "Card_SaveMobile",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Credit card and holder information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SaveMobileCardRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaveMobileCardResponse"
            }
          }
        },
        "x-operation-name": "SaveMobile",
        "x-operation-name-lower": "savemobile"
      }
    },
    "/Card/ChargeMobile": {
      "post": {
        "tags": [
          "Card"
        ],
        "summary": "This operation allows making a payment using the Apple Pay as a provider,\r\n which initiates a transfer of money from a particular customer account to the merchant account.\r\nYou have to provide a valid payment token in your request.",
        "operationId": "Card_ChargeMobile",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Credit card and holder information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargeMobileCardRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ChargeMobileCardResponse"
            }
          }
        },
        "x-operation-name": "ChargeMobile",
        "x-operation-name-lower": "chargemobile"
      }
    },
    "/Card/Save": {
      "post": {
        "tags": [
          "Card"
        ],
        "summary": "This operation tokenizes all the required information about a credit card payment method.\r\nOnce the card information is tokenized, you no longer have to provide us any sensitive credit card information.\r\nTo initiate transactions with a tokenized card simply provide the token that is returned by our API.",
        "operationId": "Card_Save",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Credit card and holder information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SaveCardRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaveCardResponse"
            }
          }
        },
        "x-operation-name": "Save",
        "x-operation-name-lower": "save"
      }
    },
    "/Card/GetAcceptedCardTypes": {
      "post": {
        "tags": [
          "Card"
        ],
        "summary": "This operation returns available card types.",
        "operationId": "Card_GetAcceptedCardTypes",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Data for getting accepted card types",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAcceptedCardTypesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetAcceptedCardTypesResponse"
            }
          }
        },
        "x-operation-name": "GetAcceptedCardTypes",
        "x-operation-name-lower": "getacceptedcardtypes"
      }
    },
    "/Card/ValidateBin": {
      "post": {
        "tags": [
          "Card"
        ],
        "summary": "This operation returns card information.",
        "operationId": "Card_ValidateBin",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Data for getting credit card information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateBinRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ValidateBinResponse"
            }
          }
        },
        "x-operation-name": "ValidateBin",
        "x-operation-name-lower": "validatebin"
      }
    },
    "/Customer/CreateAccount": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "This operation creates a record for a new customer entity, generates and returns an unique identifier for it.\r\nThe method also creates a record in the Wallet table for the customer.",
        "operationId": "Customer_CreateAccount",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "customer information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAccountRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateAccountResponse"
            }
          }
        },
        "x-operation-name": "CreateAccount",
        "x-operation-name-lower": "createaccount"
      }
    },
    "/Eft/Save": {
      "post": {
        "tags": [
          "Eft"
        ],
        "summary": "This operation tokenizes all the required information about a bank account payment method.\r\nOnce the bank account information has been tokenized, you no longer have to provide us any sensitive and personal information\r\nto debit or credit a bank account, just use the token that is retunred by our API.",
        "operationId": "Eft_Save",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SaveEftRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaveEftResponse"
            }
          }
        },
        "x-operation-name": "Save",
        "x-operation-name-lower": "save"
      }
    },
    "/PaymentMethod/Get": {
      "post": {
        "tags": [
          "PaymentMethod"
        ],
        "summary": "This operation returns saved payment methods.",
        "operationId": "PaymentMethod_Get",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Data for getting saved payment methods",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPaymentMethodRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetPaymentMethodResponse"
            }
          }
        },
        "x-operation-name": "Get",
        "x-operation-name-lower": "get"
      }
    },
    "/PaymentMethod/GetDefault": {
      "post": {
        "tags": [
          "PaymentMethod"
        ],
        "summary": "This operation returns default payment method.",
        "operationId": "PaymentMethod_GetDefault",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Data for getting default payment method",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDefaultPaymentMethodRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetDefaultPaymentMethodResponse"
            }
          }
        },
        "x-operation-name": "GetDefault",
        "x-operation-name-lower": "getdefault"
      }
    },
    "/PaymentMethod/SetAsDefault": {
      "post": {
        "tags": [
          "PaymentMethod"
        ],
        "summary": "This operation sets the default payment method.",
        "operationId": "PaymentMethod_SetAsDefault",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Payment method data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetAsDefaultPaymentMethodRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SetAsDefaultPaymentMethodResponse"
            }
          }
        },
        "x-operation-name": "SetAsDefault",
        "x-operation-name-lower": "setasdefault"
      }
    },
    "/PaymentMethod/Remove": {
      "post": {
        "tags": [
          "PaymentMethod"
        ],
        "summary": "This operation removes payment method.",
        "operationId": "PaymentMethod_Remove",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Data for removing payment method",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemovePaymentMethodRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RemovePaymentMethodResponse"
            }
          }
        },
        "x-operation-name": "Remove",
        "x-operation-name-lower": "remove"
      }
    },
    "/Receipt/DownloadReceipt": {
      "get": {
        "tags": [
          "Receipt"
        ],
        "summary": "This operation returns payment receipt as pdf file.",
        "operationId": "Receipt_DownloadReceipt",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "receiptId",
            "in": "query",
            "description": "Payment receipt Id",
            "required": false,
            "type": "string"
          },
          {
            "name": "toPreview",
            "in": "query",
            "description": "Optional: Indicates that receipt file can be opened in a browser preview",
            "required": false,
            "type": "boolean",
            "x-emitDefaultValue": true
          },
          {
            "name": "transactionId",
            "in": "query",
            "description": "Transaction Id",
            "required": false,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer Id",
            "required": false,
            "type": "string"
          },
          {
            "name": "portalOneSessionKey",
            "in": "query",
            "description": "Session key",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-operation-name": "DownloadReceipt",
        "x-operation-name-lower": "downloadreceipt"
      }
    },
    "/Receipt/DownloadReceipts": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "This operation returns payment receipts as merged pdf file.",
        "operationId": "Receipt_DownloadReceipts",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DownloadReceiptsRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-operation-name": "DownloadReceipts",
        "x-operation-name-lower": "downloadreceipts"
      }
    },
    "/Receipt/Email": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "This operation generates a payment receipt and sends it",
        "operationId": "Receipt_Email",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Data to email receipt\"",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailReceiptRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailReceiptResponse"
            }
          }
        },
        "x-operation-name": "Email",
        "x-operation-name-lower": "email"
      }
    },
    "/Receipt/EmailReceipts": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "This operation generates a payment receipts and sends it",
        "operationId": "Receipt_EmailReceipts",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Data to email receipts\"",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailReceiptsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailReceiptsResponse"
            }
          }
        },
        "x-operation-name": "EmailReceipts",
        "x-operation-name-lower": "emailreceipts"
      }
    },
    "/Receipt/TextMessage": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "This operation sends a text message with a payment receipt.",
        "operationId": "Receipt_TextMessage",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TextMessageReceiptRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TextMessageReceiptResponse"
            }
          }
        },
        "x-operation-name": "TextMessage",
        "x-operation-name-lower": "textmessage"
      }
    },
    "/Receipt/TextMessageReceipts": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "This operation sends a text message with a payment receipts.",
        "operationId": "Receipt_TextMessageReceipts",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TextMessageReceiptsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TextMessageReceiptsResponse"
            }
          }
        },
        "x-operation-name": "TextMessageReceipts",
        "x-operation-name-lower": "textmessagereceipts"
      }
    },
    "/ScheduledPayment/CancelByPublicId": {
      "post": {
        "tags": [
          "ScheduledPayment"
        ],
        "summary": "This operation is used to cancel existing ScheduledPayment.",
        "operationId": "ScheduledPayment_CancelByPublicId",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Data to cancel ScheduledPayment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelScheduledPaymentByPublicIdRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CancelScheduledPaymentResponse"
            }
          }
        },
        "x-operation-name": "CancelByPublicId",
        "x-operation-name-lower": "cancelbypublicid"
      }
    },
    "/ScheduledPayment/GetScheduledPaymentsByCustomerId": {
      "get": {
        "tags": [
          "ScheduledPayment"
        ],
        "operationId": "ScheduledPayment_GetScheduledPaymentsByCustomerId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "portalOneAuthenticationKey",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "portalOneSessionKey",
            "in": "query",
            "description": "Session key",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetScheduledPaymentsByCustomerIdResponse"
            }
          }
        },
        "x-operation-name": "GetScheduledPaymentsByCustomerId",
        "x-operation-name-lower": "getscheduledpaymentsbycustomerid"
      }
    },
    "/ScheduledPayment/Process": {
      "post": {
        "tags": [
          "ScheduledPayment"
        ],
        "operationId": "ScheduledPayment_Process",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScheduledPaymentProcessRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScheduledPaymentProcessResponse"
            }
          }
        },
        "x-operation-name": "Process",
        "x-operation-name-lower": "process"
      }
    },
    "/Session/Create": {
      "get": {
        "tags": [
          "Session"
        ],
        "summary": "This operation is used to initiate the API session, and creates the PortalOneSessionKey.\r\nOnce the PortalOneSessionKey is created, you can use it to access other PortalOne API operations.",
        "operationId": "Session_Create",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "portalOneAuthenticationKey",
            "in": "query",
            "description": "Authentication key",
            "required": false,
            "type": "string"
          },
          {
            "name": "role",
            "in": "query",
            "description": "User role",
            "required": false,
            "type": "string"
          },
          {
            "name": "processOneAuthenticationKey",
            "in": "query",
            "description": "Unique identifier for ProcessOne Instance",
            "required": false,
            "type": "string"
          },
          {
            "name": "targetOperation",
            "in": "query",
            "description": "Target operation for which the session is created",
            "required": false,
            "type": "string",
            "enum": [
              "MakePayment",
              "SavePaymentMethod",
              "ManagePaymentMethods",
              "EnrollAutoPay",
              "QuickPay",
              "CsrMakePayment"
            ],
            "x-nullable": true
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Client facing customer identifier",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-nullable": true
          },
          {
            "name": "isPortalTestPreviewMode",
            "in": "query",
            "description": "Flag indicates if portal will be opened in Test/Preview mode",
            "required": false,
            "type": "boolean",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateSessionResponse"
            }
          }
        },
        "x-operation-name": "Create",
        "x-operation-name-lower": "create"
      }
    },
    "/Session/Refresh": {
      "post": {
        "tags": [
          "Session"
        ],
        "operationId": "Session_Refresh",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefreshSessionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RefreshSessionResponse"
            }
          }
        },
        "x-operation-name": "Refresh",
        "x-operation-name-lower": "refresh"
      }
    },
    "/Session/OpenApplePaySession": {
      "post": {
        "tags": [
          "Session"
        ],
        "summary": "This method is used to contact Apple Pay server to open and validate Apple Pay payment session",
        "operationId": "Session_OpenApplePaySession",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OpenApplePaySessionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenApplePaySessionResponse"
            }
          }
        },
        "x-operation-name": "OpenApplePaySession",
        "x-operation-name-lower": "openapplepaysession"
      }
    },
    "/Session/InitializeAuthenticationSession": {
      "post": {
        "tags": [
          "Session"
        ],
        "summary": "This operation is used to initiate a temporary API session for authentication purposes and creates the PortalOneSessionKey.\r\nOnce the PortalOneSessionKey is created, you can use it to access PortalOne API operations related to authentication.",
        "operationId": "Session_InitializeAuthenticationSession",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InitializeAuthenticationSessionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InitializeAuthenticationSessionResponse"
            }
          }
        },
        "x-operation-name": "InitializeAuthenticationSession",
        "x-operation-name-lower": "initializeauthenticationsession"
      }
    }
  },
  "definitions": {
    "AccessTokenType": {
      "description": "AccessToken type",
      "enum": [
        "Client",
        "Server"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "AccessTokenType",
        "values": [
          {
            "name": "Client",
            "value": 1
          },
          {
            "name": "Server",
            "value": 2
          }
        ]
      }
    },
    "CreateAccessTokenRequest": {
      "description": "Request to create AccessToken",
      "required": [
        "PortalOneAuthenticationKey",
        "Type"
      ],
      "type": "object",
      "properties": {
        "PortalOneAuthenticationKey": {
          "description": "Authentication",
          "type": "string"
        },
        "Type": {
          "$ref": "#/definitions/AccessTokenType"
        },
        "Payload": {
          "description": "Data to store",
          "type": "object"
        },
        "ExpirationDate": {
          "format": "date-time",
          "description": "Date of the token expiration",
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "CreateAccessTokenResponse": {
      "description": "Response of the CreateAccessToken operation",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "Token": {
              "format": "uuid",
              "description": "AccessToken",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000",
              "x-emitDefaultValue": true
            }
          }
        }
      ],
      "properties": {}
    },
    "CancelAutoPayRequest": {
      "description": "Cancel AutoPay operation request",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiRequestBase"
        },
        {
          "type": "object",
          "properties": {
            "AutoPayEnrollmentIds": {
              "description": "Collection of AutoPay Enrollment Ids which should be cancelled",
              "type": "array",
              "items": {
                "format": "int32",
                "type": "integer"
              }
            },
            "ExtendedParameters": {
              "description": "The collection of key value pairs for optional parameters",
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "CancelAutoPayResponse": {
      "description": "Cancel AutoPay Response",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {}
        }
      ],
      "properties": {}
    },
    "CheckPaymentMethodAutoPayStatusRequest": {
      "description": "Check Payment Method AutoPay status operation request",
      "required": [
        "Token"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiRequestBase"
        },
        {
          "required": [
            "Token"
          ],
          "type": "object",
          "properties": {
            "Token": {
              "description": "Payment Method Token",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "CheckPaymentMethodAutoPayStatusResponse": {
      "description": "Check Payment Method AutoPay Status Response",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "AutoPayEnrollments": {
              "description": "All related AutoPay Enrollments",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PaymentMethodAutoPayEnrollment"
              }
            },
            "IsAutoPayEnrolled": {
              "description": "Is AutoPay Enrolled",
              "type": "boolean",
              "x-emitDefaultValue": true
            }
          }
        }
      ],
      "properties": {}
    },
    "PaymentMethodAutoPayEnrollment": {
      "description": "Payment Method AutoPay Enrollment",
      "type": "object",
      "properties": {
        "AutoPayEnrollmentId": {
          "format": "int32",
          "description": "Unique identifier for AutoPay Enrollment",
          "type": "integer",
          "x-emitDefaultValue": true
        },
        "PolicyNumberRef": {
          "description": "Policy Number",
          "type": "string"
        }
      }
    },
    "WithdrawalFrequency": {
      "description": "Specifies how often payments should be made. Options: monthly, quarterly, semiannually, annually",
      "enum": [
        "Monthly",
        "Quarterly",
        "Semiannually",
        "Annually"
      ],
      "type": "string",
      "x-nullable": true,
      "x-ms-enum": {
        "name": "WithdrawalFrequency",
        "values": [
          {
            "name": "Monthly",
            "value": 1
          },
          {
            "name": "Quarterly",
            "value": 3
          },
          {
            "name": "Semiannually",
            "value": 6
          },
          {
            "name": "Annually",
            "value": 12
          }
        ]
      }
    },
    "AutoPayEngineType": {
      "description": "This field will define who will control the AutoPay Payment Plan generation and recurring scheduling - whether it is Carrier Controlled or InstallmentsEngine controlled.",
      "enum": [
        "InstallmentsEngine",
        "Carrier"
      ],
      "type": "string",
      "x-nullable": true,
      "x-ms-enum": {
        "name": "AutoPayEngineType",
        "values": [
          {
            "name": "InstallmentsEngine",
            "value": 0
          },
          {
            "name": "Carrier",
            "value": 1
          }
        ]
      }
    },
    "EnrollAutoPayRequest": {
      "description": "Enroll AutoPay operation request",
      "required": [
        "AmountPerInstallment",
        "NumberOfInstallments",
        "PaymentMethodDetails",
        "PolicyRefNumber"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiRequestBase"
        },
        {
          "required": [
            "AmountPerInstallment",
            "NumberOfInstallments",
            "PaymentMethodDetails",
            "PolicyRefNumber"
          ],
          "type": "object",
          "properties": {
            "AmountPerInstallment": {
              "format": "decimal",
              "description": "Payment amount for each installment",
              "type": "number",
              "x-nullable": true
            },
            "ChargeFee": {
              "description": "Should we charge with fee (default - true)",
              "type": "boolean",
              "x-emitDefaultValue": true
            },
            "ConvenienceFeeType": {
              "description": "Provides the Type of Convenience Service Fee. (Default, Waive Fee, New Business, etc.)",
              "type": "string"
            },
            "CustomerId": {
              "format": "uuid",
              "description": "Client facing customer identifier",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000",
              "x-nullable": true
            },
            "CustomerName": {
              "description": "Customer Name",
              "maxLength": 250,
              "minLength": 0,
              "type": "string"
            },
            "Email": {
              "description": "Customer email address(es). Send multiple addresses as semicolon delimited values.",
              "maxLength": 250,
              "minLength": 0,
              "type": "string"
            },
            "NumberOfInstallments": {
              "format": "int32",
              "description": "Number of installment payments to be made",
              "maximum": 300,
              "minimum": 1,
              "type": "integer",
              "x-nullable": true
            },
            "PaymentMethodDetails": {
              "$ref": "#/definitions/AutoPayPaymentMethodDetails",
              "description": "Details that will be used to define the payment method for AutoPay."
            },
            "PolicyRefNumber": {
              "description": "Policy Number",
              "type": "string"
            },
            "WithdrawalDay": {
              "format": "int32",
              "description": "Specifies day of month when payments should be made. Either WithdrawalDay or EffectiveDate should be specified.",
              "type": "integer",
              "x-nullable": true
            },
            "EffectiveDate": {
              "format": "date-time",
              "description": "The date on which the first installment plan payment will be made. Must be at least plus one day from the current date. Either WithdrawalDay or EffectiveDate should be specified.",
              "type": "string",
              "x-nullable": true
            },
            "WithdrawalFrequency": {
              "$ref": "#/definitions/WithdrawalFrequency"
            },
            "AutoPayEngineType": {
              "$ref": "#/definitions/AutoPayEngineType"
            },
            "ExternalSchedulerEndpoint": {
              "description": "This field value should only be sent when autoPayEngineType = \"Carrier\".\r\nDigital Payments will then use this endpoint to eventually send user-selected Payment Preferences for Auto-Pay Plan creation and scheduling.",
              "type": "string"
            },
            "SuppressPlanChangedSignalIOnEnrollment": {
              "description": "Suppresses SignalInstallmentPlanChanged sending on Enrollment when the flag value is true.",
              "type": "boolean",
              "x-nullable": true
            },
            "ExtendedParameters": {
              "description": "The collection of key value pairs for optional customer parameters",
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "AutoPayPaymentMethodDetails": {
      "description": "AutoPay Payment Method Details",
      "type": "object",
      "properties": {
        "Token": {
          "description": "Saved payment method token that will be used for the remaining installment payments.",
          "type": "string"
        },
        "CardDetails": {
          "$ref": "#/definitions/CardDetails",
          "description": "Card details that will be used for the remaining installment payments."
        },
        "EftDetails": {
          "$ref": "#/definitions/EftDetails",
          "description": "Eft details  that will be used for the remaining installment payments."
        }
      }
    },
    "CardDetails": {
      "description": "Card details",
      "required": [
        "ExpirationYear",
        "ExpirationMonth"
      ],
      "type": "object",
      "properties": {
        "ExpirationYear": {
          "format": "int32",
          "description": "Card expiration year",
          "type": "integer",
          "x-nullable": true
        },
        "ExpirationMonth": {
          "format": "int32",
          "description": "Card expiration month",
          "type": "integer",
          "x-nullable": true
        },
        "Holder": {
          "$ref": "#/definitions/Customer",
          "description": "Card holder details"
        },
        "Number": {
          "description": "Card number",
          "type": "string"
        },
        "ValidationValue": {
          "description": "Card validation value",
          "type": "string"
        }
      }
    },
    "EftAccountType": {
      "description": "EFT account type - Checking / Savings.",
      "enum": [
        "Undefined",
        "Checking",
        "Savings"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "EftAccountType",
        "values": [
          {
            "name": "Undefined",
            "value": 0
          },
          {
            "name": "Checking",
            "value": 1
          },
          {
            "name": "Savings",
            "value": 2
          }
        ]
      }
    },
    "TokenReusability": {
      "description": "Ability to reuse token for all merchants",
      "enum": [
        "Undefined",
        "AllMerchants"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "TokenReusability",
        "values": [
          {
            "name": "Undefined",
            "value": 0
          },
          {
            "name": "AllMerchants",
            "value": 1
          }
        ]
      }
    },
    "EftDetails": {
      "description": "Electronic transfer details",
      "required": [
        "Type",
        "TokenReusability"
      ],
      "type": "object",
      "properties": {
        "RoutingNumber": {
          "description": "The bank routing number. Must contain numbers or hyphens.",
          "type": "string"
        },
        "AccountNumber": {
          "description": "Account number. Must contain only numbers.",
          "type": "string"
        },
        "Type": {
          "$ref": "#/definitions/EftAccountType"
        },
        "AccountGroupCode": {
          "description": "This field is used to route money to different accounts based on a predefined groups.",
          "type": "string"
        },
        "CustomerName": {
          "description": "Customer name",
          "type": "string"
        },
        "TokenReusability": {
          "$ref": "#/definitions/TokenReusability"
        }
      }
    },
    "Customer": {
      "description": "Customer",
      "type": "object",
      "properties": {
        "Name": {
          "description": "Name",
          "type": "string"
        },
        "Zip": {
          "description": "Zip code",
          "type": "string"
        },
        "Address": {
          "description": "Address",
          "type": "string"
        }
      }
    },
    "EnrollAutoPayResponse": {
      "description": "Enroll AutoPay Response",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "AutoPayEnrollmentId": {
              "format": "int32",
              "description": "Unique identifier for AutoPay Enrollment",
              "type": "integer",
              "x-nullable": true
            },
            "Token": {
              "description": "Saved payment method token that is used for the remaining installment payments.",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "SearchActiveEnrollmentsRequest": {
      "description": "Search Active Enrollments operation request",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiRequestBase"
        },
        {
          "type": "object",
          "properties": {
            "PolicyRefNumbers": {
              "description": "Collections of Policy Numbers",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "SearchActiveEnrollmentsResponse": {
      "description": "Search Active Enrollments operation response",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "Results": {
              "description": "Search results",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PolicyAutoPayEnrollmentSearchResult"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "AutoPayEnrollmentSearchStatus": {
      "description": "Search status",
      "enum": [
        "Found",
        "NotFound",
        "MultipleEnrollmentsFound",
        "ErrorOccurred"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "AutoPayEnrollmentSearchStatus",
        "values": [
          {
            "name": "Found",
            "value": 1
          },
          {
            "name": "NotFound",
            "value": 2
          },
          {
            "name": "MultipleEnrollmentsFound",
            "value": 3
          },
          {
            "name": "ErrorOccurred",
            "value": 4
          }
        ]
      }
    },
    "PolicyAutoPayEnrollmentSearchResult": {
      "description": "Policy AutoPay enrollment search result",
      "required": [
        "SearchStatus"
      ],
      "type": "object",
      "properties": {
        "EnrollmentDetails": {
          "$ref": "#/definitions/AutoPayEnrollment",
          "description": "Enrollment details"
        },
        "PolicyRefNumber": {
          "description": "Policy Number",
          "type": "string"
        },
        "SearchStatus": {
          "$ref": "#/definitions/AutoPayEnrollmentSearchStatus"
        },
        "StatusDescription": {
          "description": "Status Description",
          "type": "string"
        }
      }
    },
    "AutoPayEnrollment": {
      "description": "AutoPay Enrollment",
      "required": [
        "WithdrawalFrequency",
        "AutoPayEngineType"
      ],
      "type": "object",
      "properties": {
        "Amount": {
          "format": "decimal",
          "description": "The total amount that will be collected.",
          "type": "number",
          "x-emitDefaultValue": true
        },
        "RemainingAmount": {
          "format": "decimal",
          "description": "The remaining amount is to be collected.",
          "type": "number",
          "x-nullable": true
        },
        "AutoPayEnrollmentId": {
          "format": "int32",
          "description": "Unique identifier for AutoPay Enrollment",
          "type": "integer",
          "x-emitDefaultValue": true
        },
        "EnrollmentDate": {
          "format": "date-time",
          "description": "The date on which the first installment plan payment will be made.",
          "type": "string",
          "x-emitDefaultValue": true
        },
        "Token": {
          "description": "Saved payment method token that is used for the remaining installment payments.",
          "type": "string"
        },
        "WithdrawalDay": {
          "format": "int32",
          "description": "Specifies day of month when payments should be made",
          "type": "integer",
          "x-emitDefaultValue": true
        },
        "WithdrawalFrequency": {
          "$ref": "#/definitions/WithdrawalFrequency"
        },
        "AutoPayEngineType": {
          "$ref": "#/definitions/AutoPayEngineType"
        },
        "ExternalSchedulerEndpoint": {
          "description": "This field value should only be sent when autoPayEngineType = \"Carrier\".\r\nDigital Payments will then use this endpoint to eventually send user-selected Payment Preferences for Auto-Pay Plan creation and scheduling.",
          "type": "string"
        },
        "NumberOfInstallments": {
          "format": "int32",
          "description": "Number of installment payments to be made",
          "type": "integer",
          "x-emitDefaultValue": true
        },
        "AmountPerInstallment": {
          "format": "decimal",
          "description": "Payment amount for each installment",
          "type": "number",
          "x-emitDefaultValue": true
        },
        "NextPaymentDate": {
          "format": "date-time",
          "description": "Next payment date",
          "type": "string",
          "x-nullable": true
        },
        "ChargeFee": {
          "description": "Indicates if the payments will are/were processed with or without a fee",
          "type": "boolean",
          "x-emitDefaultValue": true
        },
        "ConvenienceFeeType": {
          "description": "Customizable convenience fee type that is matched with different types of transactions",
          "type": "string"
        }
      }
    },
    "ModifyAutoPayRequest": {
      "description": "Request for modifying Installment Plan parameters.",
      "required": [
        "PortalOneAuthenticationKey",
        "PolicyRefNumber",
        "WithdrawalDay"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiRequestBase"
        },
        {
          "required": [
            "PortalOneAuthenticationKey",
            "PolicyRefNumber",
            "WithdrawalDay"
          ],
          "type": "object",
          "properties": {
            "PortalOneAuthenticationKey": {
              "description": "Unique Identifier for the modal template.",
              "maxLength": 36,
              "minLength": 0,
              "type": "string"
            },
            "PolicyRefNumber": {
              "description": "Used to pass policy number or quote number for reference. This value is searchable and displayed in the Transaction search.",
              "type": "string"
            },
            "ChargeFee": {
              "description": "Indicates if the payment will be/was processed with or without a fee",
              "type": "boolean",
              "x-nullable": true
            },
            "ConvenienceFeeType": {
              "description": "Customizable convenience fee type that is matched with different types of transactions",
              "type": "string"
            },
            "ExternalSchedulerEndpoint": {
              "description": "Carrier System Scheduler Engine endpoint",
              "maxLength": 255,
              "minLength": 0,
              "type": "string"
            },
            "Token": {
              "description": "Payment Method Token.",
              "type": "string"
            },
            "Email": {
              "description": "Customer email address.",
              "maxLength": 250,
              "minLength": 0,
              "type": "string"
            },
            "WithdrawalFrequency": {
              "$ref": "#/definitions/WithdrawalFrequency"
            },
            "AmountPerInstallment": {
              "format": "decimal",
              "description": "Payment amount for each installment.",
              "maximum": 100000,
              "type": "number",
              "x-nullable": true
            },
            "NumberOfInstallments": {
              "format": "int32",
              "description": "Number of total installments",
              "maximum": 300,
              "minimum": 1,
              "type": "integer",
              "x-nullable": true
            },
            "WithdrawalDay": {
              "format": "int32",
              "description": "Specifies day of month when payments should be made",
              "maximum": 31,
              "minimum": 1,
              "type": "integer",
              "x-nullable": true
            }
          }
        }
      ],
      "properties": {}
    },
    "ModifyAutoPayResponse": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {}
        }
      ],
      "properties": {}
    },
    "ChargeAutoPayRequest": {
      "required": [
        "PortalOneAuthenticationKey",
        "PolicyRefNumber",
        "Amount"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiRequestBase"
        },
        {
          "required": [
            "PortalOneAuthenticationKey",
            "PolicyRefNumber",
            "Amount"
          ],
          "type": "object",
          "properties": {
            "PortalOneAuthenticationKey": {
              "description": "Unique Identifier for the modal template.",
              "maxLength": 36,
              "minLength": 0,
              "type": "string"
            },
            "PolicyRefNumber": {
              "description": "Used to pass policy number or quote number for reference. This value is also referred to as ClientReferenceData1 field in ExtendedParameters dictionary. This value is searchable and displayed in the Transaction search.",
              "type": "string"
            },
            "Amount": {
              "format": "decimal",
              "description": "Amount to charge excludes fees.",
              "maximum": 100000,
              "type": "number",
              "x-emitDefaultValue": true
            },
            "AccountGroupCode": {
              "description": "Indicates the account group/corresponding bank account where the transaction's funds will be allocated from the set of account groups configured in your merchant settings. If omitted, the default account group configured in your merchant settings will be used.",
              "maxLength": 50,
              "minLength": 0,
              "type": "string"
            },
            "ExtendedParameters": {
              "description": "The collection of key value pairs for optional customer parameters",
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "ChargeAutoPayResponse": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "AuthCode": {
              "description": "Authorization code sent from Bank. Can be used for reference.",
              "type": "string"
            },
            "BatchNumber": {
              "format": "int32",
              "description": "The batch number to which the ProcessOne transaction was attached.",
              "type": "integer",
              "x-emitDefaultValue": true
            },
            "CustomerId": {
              "description": "One Inc customer identifier.",
              "type": "string"
            },
            "ExternalCustomerId": {
              "description": "External generated ID of Customer.",
              "type": "string"
            },
            "CustomerName": {
              "description": "Name that was provided with a card or bank account information. Passed back as Customer Name.",
              "type": "string"
            },
            "OutboundApiKey": {
              "description": "Unique Identifier for the outbound API.",
              "type": "string"
            },
            "PaymentAmount": {
              "format": "decimal",
              "description": "The premium payment amount excluding any convenience fees.",
              "type": "number",
              "x-emitDefaultValue": true
            },
            "ConvenienceFee": {
              "format": "decimal",
              "description": "The convenience fee applied to payment amount.",
              "type": "number",
              "x-emitDefaultValue": true
            },
            "TimeZone": {
              "description": "Time zone code.",
              "type": "string"
            },
            "TokenId": {
              "description": "Payment method TokenId that will be used for the payments.",
              "type": "string"
            },
            "TransactionDate": {
              "format": "date-time",
              "description": "Date Stamp of the payment.",
              "type": "string",
              "x-nullable": true
            },
            "TransactionId": {
              "description": "Transaction identifier for the payment.",
              "type": "string"
            },
            "PaymentMethod": {
              "$ref": "#/definitions/PaymentDetailsBase",
              "description": "Payment Method."
            },
            "PolicyNumber": {
              "description": "Policy Number.",
              "type": "string"
            },
            "AccountGroupCode": {
              "description": "Indicates the account group/corresponding bank account where the transaction's funds will be allocated from the set of account groups configured in your merchant settings. If omitted, the default account group configured in your merchant settings will be used.",
              "type": "string"
            },
            "ExtendedParameters": {
              "description": "The collection of key value pairs for optional customer parameters",
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "PaymentDetailsBase": {
      "type": "object",
      "properties": {
        "ClientName": {
          "description": "Used to pass name of the client.",
          "type": "string"
        },
        "ClientPhoneNumber": {
          "description": "Used to pass phone number of the client.",
          "type": "string"
        },
        "ClientReferenceData1": {
          "description": "Used to pass a reference number such as Policy, Quote, or Claim Number.",
          "type": "string"
        },
        "ConvenienceFee": {
          "format": "decimal",
          "description": "Convenience fee amount",
          "type": "number",
          "x-emitDefaultValue": true
        },
        "CustomerName": {
          "description": "Used to pass customer name (insured name).",
          "type": "string"
        },
        "PaymentAmount": {
          "format": "decimal",
          "description": "Payment amount",
          "type": "number",
          "x-emitDefaultValue": true
        },
        "TimeZone": {
          "description": "TimeZone",
          "type": "string"
        },
        "TransactionDate": {
          "description": "Formatted transaction date.",
          "type": "string"
        },
        "TransactionId": {
          "description": "Transaction Id",
          "type": "string"
        },
        "Type": {
          "description": "Name of the Payment Method Details Type",
          "type": "string",
          "readOnly": true
        },
        "ExtendedParameters": {
          "description": "The collection of key value pairs for optional customer parameters",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SaveMobileCardRequest": {
      "description": "SaveMobile parameters",
      "required": [
        "MobilePaymentToken"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiRequestBase"
        },
        {
          "required": [
            "MobilePaymentToken"
          ],
          "type": "object",
          "properties": {
            "MobilePaymentToken": {
              "description": "Payment data object provided by Apple API.",
              "type": "string"
            },
            "HolderAddress": {
              "description": "Optional: Cardholder address",
              "type": "string"
            },
            "HolderZip": {
              "description": "Optional: Cardholder zip code",
              "type": "string"
            },
            "HolderName": {
              "description": "Optional: Cardholder name",
              "type": "string"
            },
            "CallbackId": {
              "description": "A callback id associated to save mobile transaction",
              "type": "string"
            },
            "DisplayName": {
              "description": "Optional: Display Name value for card, usually containing last 4 numbers.\r\nAcquired from Apple Pay PKPaymentToken object",
              "type": "string"
            },
            "ClientReferenceData": {
              "$ref": "#/definitions/ClientReferenceData",
              "description": "ClientReferenceData"
            },
            "CustomerId": {
              "description": "Client facing customer identifier",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "ClientReferenceData": {
      "description": "Client or/and transaction specific data",
      "type": "object",
      "properties": {
        "ClientReferenceData1": {
          "description": "Used to pass a reference number such as Policy, Quote, or Claim Number. The value will be searchable in the transaction search report.",
          "type": "string"
        },
        "ClientReferenceData2": {
          "description": "Used to pass and External TransactionId value. The value will be searchable in the transaction search report.",
          "type": "string"
        },
        "ClientReferenceData3": {
          "description": "Used to pass location data such as the office the transaction originated. The value will be searchable in the transaction search report.",
          "type": "string"
        },
        "ClientReferenceData4": {
          "description": "Used to pass additional information with the transaction. The value will be displayed in the transaction details.",
          "type": "string"
        },
        "ClientReferenceData5": {
          "description": "Used to pass additional reference source account data such as an account number for a multi-policy account.\r\nThe value will be searchable in the transaction search report.",
          "type": "string"
        }
      }
    },
    "SaveMobileCardResponse": {
      "description": "SaveMobile response data",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "TransactionId": {
              "description": "ProcessOne transaction ID",
              "type": "string"
            },
            "Token": {
              "description": "ProcessOne Token",
              "type": "string"
            },
            "TokenCreationTime": {
              "format": "date-time",
              "description": "Time of token creation",
              "type": "string",
              "x-nullable": true
            },
            "TimeZone": {
              "description": "Time zone of TokenCreationTime",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "ChargeMobileCardRequest": {
      "description": "ChargeMobile parameters",
      "required": [
        "MobilePaymentToken"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ChargeRequestBase"
        },
        {
          "required": [
            "MobilePaymentToken"
          ],
          "type": "object",
          "properties": {
            "MobilePaymentToken": {
              "description": "Payment data object provided by Apple API.",
              "type": "string"
            },
            "HolderAddress": {
              "description": "Optional: Cardholder address",
              "type": "string"
            },
            "HolderZip": {
              "description": "Optional: Cardholder zip code",
              "type": "string"
            },
            "HolderName": {
              "description": "Optional: Cardholder name",
              "type": "string"
            },
            "CallbackId": {
              "description": "A callback id associated to charge mobile transaction",
              "type": "string"
            },
            "DisplayName": {
              "description": "Optional: Display Name value for card, usually containing last 4 numbers",
              "type": "string"
            },
            "ChargeFee": {
              "description": "Should we charge with fee (default - true)",
              "type": "boolean",
              "x-emitDefaultValue": true
            },
            "AccountGroupCode": {
              "description": "Account group code",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "SelectedPaymentAmountGroup": {
      "required": [
        "PaymentAmountGroupKey",
        "UserSelectedAmount",
        "DisplayName"
      ],
      "type": "object",
      "properties": {
        "PaymentAmountGroupKey": {
          "description": "An unique key of the amount group",
          "type": "string"
        },
        "UserSelectedAmount": {
          "format": "decimal",
          "description": "Amount selected by a customer via UI.",
          "type": "number",
          "x-emitDefaultValue": true
        },
        "DisplayName": {
          "description": "A caption that should be displayed on UI",
          "type": "string"
        },
        "AccountGroupCode": {
          "description": "This field is used to route money to different accounts based\r\non a predefined groups. If this option is used a mapping must be setup\r\nin ProcessOne before this value can be used.",
          "type": "string"
        }
      }
    },
    "AccountGroupProtectionSetting": {
      "description": "Account Group Protection Setting",
      "type": "object",
      "properties": {
        "AccountGroupCode": {
          "description": "This field is used to route money to different accounts based on a predefined group. If this option is used a mapping must be set up in ProcessOne before this value can be used.",
          "type": "string"
        },
        "AccountGroupProtected": {
          "description": "Is used when a single transaction with multiple line items will have funds moved into 2 accounts. With any subsequent fund movement that happens after the original fund movement to the transaction, the Boolean refers to protecting one account over another. If omitted any subsequent fund movement will be applied at the same ratio as the original transaction.",
          "type": "boolean",
          "x-emitDefaultValue": true
        }
      }
    },
    "ChargeMobileCardResponse": {
      "description": "ChargeMobile response data",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ChargeResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "AuthorizationCode": {
              "description": "A gateway Authorization Code",
              "type": "string"
            },
            "HolderName": {
              "description": "Card Holder Name",
              "type": "string"
            },
            "HolderZip": {
              "description": "Card Holder Zip code",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "SaveCardRequest": {
      "description": "Save Card parameters",
      "required": [
        "Card"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SaveRequestBase"
        },
        {
          "required": [
            "Card"
          ],
          "type": "object",
          "properties": {
            "Card": {
              "$ref": "#/definitions/CardDetails",
              "description": "Card information"
            }
          }
        }
      ],
      "properties": {}
    },
    "CreditCardType": {
      "description": "Base Card type",
      "enum": [
        "Undefined",
        "Visa",
        "MasterCard",
        "AmericanExpress",
        "Discover",
        "PinlessDebitGeneric",
        "Star",
        "Nyce",
        "Pulse",
        "Other"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "CreditCardType",
        "values": [
          {
            "name": "Undefined",
            "value": 0
          },
          {
            "name": "Visa",
            "value": 1
          },
          {
            "name": "MasterCard",
            "value": 2
          },
          {
            "name": "AmericanExpress",
            "value": 3
          },
          {
            "name": "Discover",
            "value": 4
          },
          {
            "name": "PinlessDebitGeneric",
            "value": 5
          },
          {
            "name": "Star",
            "value": 6
          },
          {
            "name": "Nyce",
            "value": 7
          },
          {
            "name": "Pulse",
            "value": 8
          },
          {
            "name": "Other",
            "value": 99
          }
        ]
      }
    },
    "SaveCardResponse": {
      "description": "Save card response",
      "required": [
        "BaseCardType"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SaveResponseBase"
        },
        {
          "required": [
            "BaseCardType"
          ],
          "type": "object",
          "properties": {
            "BaseCardType": {
              "$ref": "#/definitions/CreditCardType"
            }
          }
        }
      ],
      "properties": {}
    },
    "GetAcceptedCardTypesRequest": {
      "description": "GetAcceptedCardTypes operation request",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiRequestBase"
        },
        {
          "type": "object",
          "properties": {}
        }
      ],
      "properties": {}
    },
    "GetAcceptedCardTypesResponse": {
      "description": "GetAcceptedCardTypes operation response",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "AcceptedCardTypes": {
              "description": "Accepted card types",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "ValidateBinRequest": {
      "description": "ValidateBin operation request",
      "required": [
        "CardNumber"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiRequestBase"
        },
        {
          "required": [
            "CardNumber"
          ],
          "type": "object",
          "properties": {
            "CardNumber": {
              "description": "Card number",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "CreditCardNetworkType": {
      "description": "Credit Card Network type",
      "enum": [
        "Unknown",
        "Hybrid",
        "Debit",
        "Credit"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "CreditCardNetworkType",
        "values": [
          {
            "name": "Unknown",
            "value": 0
          },
          {
            "name": "Hybrid",
            "value": 1
          },
          {
            "name": "Debit",
            "value": 2
          },
          {
            "name": "Credit",
            "value": 3
          }
        ]
      }
    },
    "ValidateBinResponse": {
      "description": "ValidateBin operation response",
      "required": [
        "CreditCardNetworkType",
        "BaseCardType"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "required": [
            "CreditCardNetworkType",
            "BaseCardType"
          ],
          "type": "object",
          "properties": {
            "CreditCardNetworkType": {
              "$ref": "#/definitions/CreditCardNetworkType"
            },
            "BaseCardType": {
              "$ref": "#/definitions/CreditCardType"
            },
            "IsPrepaidCard": {
              "description": "Flag that shows whether this card is prepaid or not",
              "type": "boolean",
              "x-emitDefaultValue": true
            }
          }
        }
      ],
      "properties": {}
    },
    "CreateAccountRequest": {
      "description": "CreateAccount request data",
      "type": "object",
      "properties": {
        "PortalOneAuthenticationKey": {
          "description": "Authentication key",
          "type": "string"
        },
        "ExternalCustomerId": {
          "description": "An unique identifier of a customer in some external system. You can use ExternalCompanyContactId or ExternalIndividualId fields from the response by the ClaimsPay Api Account/GetInfo method.",
          "type": "string"
        },
        "CustomerName": {
          "description": "Customer name",
          "type": "string"
        }
      }
    },
    "CreateAccountResponse": {
      "description": "CreateAccount response data",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "CustomerId": {
              "format": "uuid",
              "description": "Generated identifier for a customer",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000",
              "x-emitDefaultValue": true
            }
          }
        }
      ],
      "properties": {}
    },
    "SaveEftRequest": {
      "description": "Save Eft request",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SaveRequestBase"
        },
        {
          "type": "object",
          "properties": {
            "EftDetails": {
              "$ref": "#/definitions/EftDetails",
              "description": "Eft details"
            },
            "BypassBankAccountValidation": {
              "description": "Bypassing bank account validation",
              "type": "boolean",
              "x-emitDefaultValue": true
            }
          }
        }
      ],
      "properties": {}
    },
    "SaveEftResponse": {
      "description": "Save Eft response",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SaveResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "BankName": {
              "description": "Bank name",
              "type": "string"
            },
            "VerifyBankAccountDescription": {
              "description": "Additional response data",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "CardTokenCompatibilityType": {
      "description": "Filter by card token compatibility",
      "enum": [
        "Undefined",
        "InboundAndOutbound",
        "Inbound",
        "Outbound"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "CardTokenCompatibilityType",
        "values": [
          {
            "name": "Undefined",
            "value": 0
          },
          {
            "name": "InboundAndOutbound",
            "value": 1
          },
          {
            "name": "Inbound",
            "value": 2
          },
          {
            "name": "Outbound",
            "value": 3
          }
        ]
      }
    },
    "GetPaymentMethodRequest": {
      "description": "Get payment method operation request",
      "required": [
        "CustomerId",
        "FilterByCardTokenCompatibility"
      ],
      "type": "object",
      "properties": {
        "CustomerId": {
          "description": "Client facing customer identifier",
          "type": "string"
        },
        "FilterByCardTokenCompatibility": {
          "$ref": "#/definitions/CardTokenCompatibilityType"
        },
        "PortalOneSessionKey": {
          "description": "Session key. Either Session key or Authentication key parameter is required",
          "type": "string"
        },
        "PortalOneAuthenticationKey": {
          "description": "Authentication key. Either Session key or Authentication key parameter is required",
          "type": "string"
        }
      }
    },
    "GetPaymentMethodResponse": {
      "description": "Get payment method operation response",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "PaymentMethods": {
              "description": "Payment methods",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PaymentMethod"
              }
            }
          }
        }
      ],
      "properties": {}
    },
    "PaymentMethodType": {
      "description": "Payment method type",
      "enum": [
        "CreditCard",
        "Eft",
        "PayPal"
      ],
      "type": "string",
      "x-emitDefaultValue": true,
      "x-ms-enum": {
        "name": "PaymentMethodType",
        "values": [
          {
            "name": "CreditCard",
            "value": 0
          },
          {
            "name": "Eft",
            "value": 1
          },
          {
            "name": "PayPal",
            "value": 2
          }
        ]
      }
    },
    "PaymentMethod": {
      "description": "Payment method",
      "required": [
        "PaymentMethodType",
        "CreditCardType",
        "BankAccountType"
      ],
      "type": "object",
      "properties": {
        "PaymentMethodId": {
          "format": "int32",
          "description": "[Obsolete] Payment method identifier",
          "type": "integer",
          "x-emitDefaultValue": true
        },
        "CustomerId": {
          "format": "int32",
          "description": "[Obsolete] Customer identifier",
          "type": "integer",
          "x-nullable": true
        },
        "PolicyHashId": {
          "format": "int32",
          "description": "[Obsolete] Policy hash identifier",
          "type": "integer",
          "x-nullable": true
        },
        "PaymentMethodType": {
          "$ref": "#/definitions/PaymentMethodType"
        },
        "ProcessOneToken": {
          "description": "ProcessOne payment token",
          "type": "string"
        },
        "IsDefault": {
          "description": "Is default flag",
          "type": "boolean",
          "x-emitDefaultValue": true
        },
        "CardExpirationMonth": {
          "format": "int32",
          "description": "Card expiration month",
          "type": "integer",
          "x-nullable": true
        },
        "CardExpirationYear": {
          "format": "int32",
          "description": "Card expiration year",
          "type": "integer",
          "x-nullable": true
        },
        "CustomerName": {
          "description": "Customer name",
          "type": "string"
        },
        "DateAdded": {
          "format": "date-time",
          "description": "Date when payment method was added",
          "type": "string",
          "x-emitDefaultValue": true
        },
        "BillingZipCode": {
          "description": "ZIP Code",
          "type": "string"
        },
        "CreditCardType": {
          "$ref": "#/definitions/CreditCardType"
        },
        "BankAccountType": {
          "$ref": "#/definitions/EftAccountType"
        },
        "LastFour": {
          "description": "Last for digits",
          "type": "string"
        },
        "CardHolderAddress": {
          "description": "Card holder address",
          "type": "string"
        },
        "BankName": {
          "description": "Bank name",
          "type": "string"
        },
        "CreditCardNetworkType": {
          "$ref": "#/definitions/CreditCardNetworkType"
        },
        "IsPrepaidCard": {
          "description": "Flag that show whether the card is prepaid or not",
          "type": "boolean",
          "x-nullable": true
        }
      }
    },
    "GetDefaultPaymentMethodRequest": {
      "description": "GetDefault payment method operation request",
      "required": [
        "CustomerId"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiRequestBase"
        },
        {
          "required": [
            "CustomerId"
          ],
          "type": "object",
          "properties": {
            "CustomerId": {
              "description": "Client facing customer identifier",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "GetDefaultPaymentMethodResponse": {
      "description": "GetDefault payment method operation response",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "PaymentMethod": {
              "$ref": "#/definitions/PaymentMethod",
              "description": "Default payment method"
            }
          }
        }
      ],
      "properties": {}
    },
    "SetAsDefaultPaymentMethodRequest": {
      "description": "Set default payment method operation request",
      "required": [
        "CustomerId",
        "ProcessOneToken"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiRequestBase"
        },
        {
          "required": [
            "CustomerId",
            "ProcessOneToken"
          ],
          "type": "object",
          "properties": {
            "CustomerId": {
              "description": "Client facing customer identifier",
              "type": "string"
            },
            "ProcessOneToken": {
              "description": "ProcessOne payment token",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "SetAsDefaultPaymentMethodResponse": {
      "description": "SetDefault payment method operation response",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {}
        }
      ],
      "properties": {}
    },
    "RemovePaymentMethodRequest": {
      "description": "Delete payment method operation request",
      "required": [
        "CustomerId",
        "ProcessOneToken"
      ],
      "type": "object",
      "properties": {
        "CustomerId": {
          "description": "Client facing customer identifier",
          "type": "string"
        },
        "ProcessOneToken": {
          "description": "ProcessOne payment token",
          "type": "string"
        },
        "PortalOneSessionKey": {
          "description": "Session key. Either Session key or Authentication key parameter is required",
          "type": "string"
        },
        "PortalOneAuthenticationKey": {
          "description": "Authentication key. Either Session key or Authentication key parameter is required",
          "type": "string"
        }
      }
    },
    "RemovePaymentMethodResponse": {
      "description": "Delete payment method operation response",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiResponseBase"
        },
        {
          "type": "object",
          "properties": {
            "TimeZone": {
              "description": "Short time zone name with daylight saving time suffix",
              "type": "string"
            },
            "TransactionDate": {
              "format": "date-time",
              "description": "Transaction date and time",
              "type": "string",
              "x-nullable": true
            }
          }
        }
      ],
      "properties": {}
    },
    "DownloadReceiptRequest": {
      "description": "Download payment receipt request",
      "type": "object",
      "properties": {
        "ReceiptId": {
          "description": "Payment receipt Id",
          "type": "string"
        },
        "ToPreview": {
          "description": "Optional: Indicates that receipt file can be opened in a browser preview",
          "type": "boolean",
          "x-emitDefaultValue": true
        },
        "TransactionId": {
          "description": "Transaction Id",
          "type": "string"
        },
        "CustomerId": {
          "description": "Customer Id",
          "type": "string"
        },
        "PortalOneSessionKey": {
          "description": "Session key",
          "type": "string"
        }
      }
    },
    "DownloadReceiptsRequest": {
      "description": "Download payment receipts request",
      "required": [
        "ReceiptItems"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ApiRequestBase"
        },
        {
          "required": [
            "ReceiptItems"
          ],
          "type": "object",
          "properties": {
            "ReceiptItems": {
              "description": "Receipts information",
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReceiptItem"
              }
            },
            "ToPreview": {
              "description": "Optional: Indicates that receipt file can be opened in a browser preview",
              "type": "boolean",
              "x-emitDefaultValue": true
            },
            "CustomerId": {
              "description": "Customer Id",
              "type": "string"
            }
          }
        }
      ],
      "properties": {}
    },
    "ReceiptItem": {
      "description": "Download payment receipt request",
      "required": [
        "TransactionId"
      ],
      "type": "object",
      "properties": {
        "ReceiptId": {
          "description": "Payment receipt Id, optional field",
          "type": "string"
        },
        "TransactionId": {
          "description": "Transaction Id",
          "type": "string"
        },
        "ExtendedParameters": {
          "description": "The collection of key value pairs for optional parameters",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "EmailReceiptRequest": {
[...]
